<section class="w-100 arabicList">
    <div class="w-100 p-sm-5 px-2">
        <!-- ده اللي هيتكرر -->
        <div *ngFor="let order of PermissionsList">
            <div class="w-100 {{ 'direction' | translate }}">
                <p class="orderNumber my-0 d-inline-block bg-white px-2 rounded {{ 'fixOrderNumber' | translate }}">
                    {{ 'my_order_vac.رقم_الطلب' | translate }} : {{order.id}}
                </p>
            </div>

            <div
                class="parentOfOrders {{ 'direction' | translate }} mx-0 w-100 bg-white rounded border row d-flex justify-content-center align-items-center overflow-hidden ">
                <div class="col-md-4">
                    <div class="w-100 {{'admin_vacation.border' | translate}} noBorder-mobile">
                        <p class="my-0">
                            {{ 'emp_permission.سبب_الاذن' | translate }} : {{order.details}}
                        </p>

                        <p class="my-0">
                            {{ 'emp_permission.يوافق_تاريخ' | translate }} :
                            <span> {{order.startDate.split('T')[0]}}</span>
                        </p>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="w-100 {{'admin_vacation.border' | translate}} noBorder-mobile ">
                        <p class="my-0">
                            {{ 'emp_permission.بداية_الاذن' | translate }} :
                            <span class="fw-lighter"> {{order.startDate | date : 'hh:mm a'}}</span>
                        </p>
                        <p class="my-0">
                            {{ 'emp_permission.نهاية_الاذن' | translate }} :
                            <span class="fw-lighter"> {{order.endDate | date : 'hh:mm a'}} </span>
                        </p>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="w-100 noBorder-mobile ">
                        <!-- تحميل المرفق -->
                        <p class="my-0">
                            {{ 'emp_permission.مرفقات' | translate }} :
                            <span class="my-0 cursor-pointer" *ngIf="order.uploadFileId">
                                <a (click)="fileDownload(order.uploadFileId)"
                                    class="link-underline-opacity-50 link-underline">
                                    {{ 'emp_permission.تحميل_المرفق' | translate }}
                                </a>
                            </span>
                            <span *ngIf="order.uploadFileId == null"> {{ 'emp_permission.لا_يوجد' | translate }} </span>
                        </p>
                        <!-- تفاصيل الرد (ان وجد ) -->
                        <p class="my-0" *ngIf="order.approveDetails">
                            {{ 'emp_permission.تفاصيل_الرد' | translate }} : {{order.approveDetails}}
                        </p>

                        <!-- حالة الطلب  -->
                        <p *ngIf="order.approveStatus == 'Approved'" class="my-0">
                            {{ 'emp_permission.حالة_الطلب' | translate }} : <span class="status-Msg-confirmed">{{
                                'emp_permission.تمت_الموافقة' | translate }}</span>
                        </p>
                        <p *ngIf="order.approveStatus == 'NotApproved'" class="my-0">
                            {{ 'emp_permission.حالة_الطلب' | translate }} : <span class="status-Msg-rejected">{{
                                'emp_permission.تم_رفض_الطلب' | translate }}</span>
                        </p>
                        <p *ngIf="order.approveStatus == 'Pinding'" class="my-0">
                            {{ 'emp_permission.حالة_الطلب' | translate }} : <span class="status-Msg-pendding">{{
                                'emp_permission.جاري_مراجعة_الطلب' | translate }}</span>
                        </p>

                    </div>
                </div>

                <div class="col-md-2 statusImg   {{ 'fixStatusImg' | translate }} ">
                    <div class="w-100 mx-auto p-2 text-center">
                        <img *ngIf="order.approveStatus == 'Approved'"
                            src="./assets/images/compressed-images/wepb/accepted.png" alt="Approved"
                            class="w-50 w-100-mobile">
                        <img *ngIf="order.approveStatus == 'Pinding'"
                            src="./assets/images/compressed-images/wepb/pending_3388322.png" alt="Pending"
                            class="w-50 w-100-mobile">
                        <img *ngIf="order.approveStatus == 'NotApproved'"
                            src="./assets/images/compressed-images/wepb/delete_2808336.png" alt="NotApproved"
                            class="w-50 w-100-mobile">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
