.fs-14 {
    font-size: 14px !important;
}

.update-Button {
    width: 90px !important;
    min-width: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-Button {
    display: none;
}

.save-Button {
    display: none;
}

.emp-Hover {
    transition: all .1s;

    &:hover {
        background-color: #0d6efd;
        color: #FFF;
    }
}

.listOfEmployee {
    width: 100% !important;
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    border: 7px solid #2e2e2e;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top: 0 !important;
    max-height: 245px !important;
    overflow: auto;
    margin-inline: auto !important;
    padding-inline: 0 !important;
    border-radius: 15px;
    z-index: 5 !important;
}

@media screen and (max-width:576px) {
    .w-75-mobile {
        width: 75% !important;

    }

    .w-25-mobile {
        width: 25% !important;
    }

    .cancel-Button {
        width: 50px !important;
        min-width: 50px !important;
    }

    .save-Button {
        width: 50px !important;
        min-width: 50px !important;
    }

    .py-2-mobile {
        padding-block: 10px !important;
    }

    .font-18-mobile {
        font-size: 18px !important;
    }

}