<table class=" w-100  {{ 'direction' | translate }}" [formGroup]="mainEmployeeData">
    <tbody>



        <!-- ===========================================    start main    ========================================= -->
        <!-- ===========================================    start main    ========================================= -->
        <!-- ===========================================    start main    ========================================= -->







        <!-- arabic name -->

        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3 py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  "> {{ 'Update.ArabicName' | translate }}
                    : </p>
            <td class=" col-md-6 w-75-mobile py-sm-1 ">
                <div class="position-relative ">
                    <input formControlName="employeeNameAr" type="text" [value]=" oneEmployee.employeeNameAr "
                        class="form-control">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.employeeNameAr != mainEmployeeData.get('employeeNameAr')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class=" col-md-3 w-25-mobile py-sm-1 align-content-center  px-0 d-flex">
                <!-- <button #empNameARBtn (click)="editSingleRow('employeeNameAr' ,empNameARBtn)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    {{'edit' | translate}}
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                </button>
                <button
                    (click)="closeEdittingInput('employeeNameAr' ,empNameARBtn ,  oneEmployee.employeeNameAr , 'cancel')"
                    class="btn btn-danger save-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-xmark "></i>
                    <span class="px-1 hide-on-mobile   "> {{'Cancel' | translate}} </span>
                </button>
                <button
                    (click)="closeEdittingInput('employeeNameAr' ,empNameARBtn ,  oneEmployee.employeeNameAr , 'save')"
                    class="btn btn-success cancel-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check "></i>
                    <span class="px-1  hide-on-mobile "> {{'OK' | translate}} </span>
                </button> -->
            </td>
        </tr>

        <!-- english name -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class="  col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.EnglishName' | translate }}
                    : </p>
            </td>
            <td class="  col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <input formControlName="employeeNameEn" type="text" [value]=" oneEmployee.employeeNameEn "
                        class="form-control">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.employeeNameEn != mainEmployeeData.get('employeeNameEn')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class="  col-md-3  py-sm-1   w-25-mobile  align-content-center  px-0 d-flex">


            </td>
        </tr>

        <!-- employee ID -->

        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class="  col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.EmployeeId' | translate }} :
                </p>
            </td>
            <td class="  col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <input formControlName="employeeId" type="text" [value]=" oneEmployee.employeeId "
                        class="form-control">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.employeeId != mainEmployeeData.get('employeeId')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class="  col-md-3  py-sm-1   w-25-mobile  align-content-center  px-0 d-flex">
                <!-- <button disabled #employeeIdButton class="btn btn-dark update-Button fw-semibold fs-14">
                    {{'edit' | translate}}
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                </button> -->
            </td>
        </tr>

        <!-- employee personalID -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class="  col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.PersonalId' | translate }} :
                </p>
            </td>
            <td class="  col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <input formControlName="employeePersonId" type="number" [value]="oneEmployee.employeePersonId "
                        class="form-control">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.employeePersonId != mainEmployeeData.get('employeePersonId')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class="  col-md-3  py-sm-1   w-25-mobile  align-content-center  px-0 d-flex">


            </td>
        </tr>

        <!-- employee personalID Expire Date -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class="  col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.PersonalIdExpire' |
                    translate }} :
                </p>
            </td>
            <td class="  col-md-6 w-75-mobile  py-sm-1">
                <input formControlName="employeePersonExpireDate" type="date"
                    [value]=" oneEmployee.employeePersonExpireDate " class="form-control text-center">

            </td>
            <td class="  col-md-3  py-sm-1   w-25-mobile  align-content-center  px-0 d-flex">
 

            </td>
        </tr>

        <!-- Birth Date -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class="  col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.BirthDate' | translate }} :
                </p>
            </td>
            <td class="  col-md-6 w-75-mobile  py-sm-1">
                <input formControlName="birthDate" type="date" [value]=" oneEmployee.birthDate "
                    class="form-control text-center">
            </td>
            <td class="  col-md-3  py-sm-1   w-25-mobile  align-content-center  px-0 d-flex">


            </td>
        </tr>

        <!-- Birth Place -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class="  col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.BirthPlace' | translate }} :
                </p>
            </td>
            <td class="  col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <input formControlName="birthPlace" type="text" [value]=" oneEmployee.birthPlace "
                        class="form-control">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.birthPlace != mainEmployeeData.get('birthPlace')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class="  col-md-3  py-sm-1   w-25-mobile  align-content-center  px-0 d-flex">


            </td>
        </tr>

        <!-- employee Age -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.Age' | translate }} : </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <input formControlName="age" type="number" max="99" [value]="oneEmployee.age" class="form-control">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.age != mainEmployeeData.get('age')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
            <span class="small text-danger text-center" *ngIf="mainEmployeeData.get('age')?.errors">ادخل رقم حقيقي بين
                (18 - 80)</span>

        </tr>

        <!-- employee Mother Name -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.MotherName' | translate }} :
                </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <input formControlName="motherName" type="text" [value]="oneEmployee.motherName"
                        class="form-control">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.motherName != mainEmployeeData.get('motherName')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
        </tr>

        <!-- employee Gender -->


        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.Gender' | translate }} : </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <select formControlName="gender" name="gender" id="gender" [value]="oneEmployee.gender"
                        class="form-control">
                        <option value="0">رجل</option>
                        <option value="1">امرأة</option>
                    </select>
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.gender != mainEmployeeData.get('gender')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
        </tr>

        <!-- employee Marriage Status -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.MarriageStatus' | translate
                    }} : </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <select formControlName="marrige" name="marrige" id="marrige" [value]="oneEmployee.marrige"
                        class="form-control">
                        <option value="0">اعزب</option>
                        <option value="1">متزوج</option>
                    </select>
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.marrige != mainEmployeeData.get('marrige')?.value"><i
                            class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
        </tr>
        <!-- ===========================================    end main    ========================================= -->










        <!-- =========================================== start company ========================================= -->
        <!-- =========================================== start company ========================================= -->
        <!-- =========================================== start company ========================================= -->
        <!-- Company ID -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.CompanyId' | translate }} :
                </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <input formControlName="companyId" type="text" [value]="oneEmployee.companyId" class="form-control"
                        [ngClass]="{'is-invalid': mainEmployeeData.get('companyId')?.errors}"
                        [readOnly]="mainEmployeeData.get('companyId')?.errors">
                    <span class="edited-mark" [ngClass]="{'edited-mark-en': currentLang == 'en'}" 
                        *ngIf="oneEmployee.companyId != mainEmployeeData.get('companyId')?.value&& !mainEmployeeData.get('companyId')?.errors">
                        <i class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">
                <!-- <button #companyId disabled class="btn btn-dark update-Button fw-semibold fs-14">
                    {{'edit' | translate}}
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                </button> -->

            </td>
        </tr>


        <!-- Company Ar -->
        <tr *ngIf="currentLang == 'ar'" class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.CompanyAr' | translate }} :
                </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative my-options-list">
                    <input formControlName="companyNameAr" type="text" [value]="oneEmployee.companyNameAr"
                        (keyup)="makeItInvalid('companyId')"
                        (focus)="getAllGroubOf('Company' , 'companyNameAr' , 'companyId' )"
                        [ngClass]="{'is-invalid': mainEmployeeData.get('companyId')?.errors}" class="form-control">
                    <span class="edited-mark "
                        *ngIf="oneEmployee.companyNameAr != mainEmployeeData.get('companyNameAr')?.value"><i
                            class="fa-solid fa-marker"></i></span>

                    <div *ngIf="enableEditName=='companyNameAr'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'companyNameAr' , 'companyNameEn' , 'companyId')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">{{ item.nameAr }}</span>
                            <span class="px-2 ps-3 fw-light small"> - {{ item.id }}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
        </tr>


        <!-- Company En -->
        <tr *ngIf="currentLang == 'en'" class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.CompanyEn' | translate }} :
                </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative my-options-list">
                    <input formControlName="companyNameEn" type="text" [value]="oneEmployee.companyNameEn"
                        (keyup)="makeItInvalid('companyId')"
                        (focus)="getAllGroubOf('Company' , 'companyNameEn' , 'companyId' )"
                        [ngClass]="{'is-invalid': mainEmployeeData.get('companyId')?.errors}" class="form-control">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.companyNameEn != mainEmployeeData.get('companyNameEn')?.value"><i
                            class="fa-solid fa-marker"></i></span>

                    <div *ngIf="enableEditName=='companyNameEn'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'companyNameAr' , 'companyNameEn' , 'companyId')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">{{ item.nameEn }}</span>
                            <span class="px-2 ps-3 fw-light small"> - {{ item.id }}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
        </tr>


        <!-- =========================================== end company ========================================= -->










        <!-- ===========================================      START kafil     ========================================= -->
        <!-- ===========================================      START kafil     ========================================= -->
        <!-- ===========================================      START kafil     ========================================= -->


        <!-- employee Kafil Id -->
        <tr class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.KafilId' | translate }} :
                </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative ">
                    <input formControlName="kafilId" type="text" [value]="oneEmployee.kafilId" class="form-control"
                        [ngClass]="{'is-invalid': mainEmployeeData.get('kafilId')?.errors}"
                        [readOnly]="mainEmployeeData.get('kafilId')?.errors">
                    <span class="edited-mark" [ngClass]="{'edited-mark-en': currentLang == 'en'}"
                        *ngIf="oneEmployee.kafilId != mainEmployeeData.get('kafilId')?.value&& !mainEmployeeData.get('kafilId')?.errors">
                        <i class="fa-solid fa-marker"></i></span>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
        </tr>

        <!-- employee Kafil Name (Arabic) -->
        <tr *ngIf="currentLang == 'ar'" class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.KafilNameAr' | translate }} :
                </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1">
                <div class="position-relative my-options-list">
                    <input formControlName="kafilNameAr" type="text" [value]="oneEmployee.kafilNameAr"
                        (keyup)="makeItInvalid('kafilId')" (focus)="getAllGroubOf('kafil' , 'kafilNameAr' , 'kafilId' )"
                        [ngClass]="{'is-invalid': mainEmployeeData.get('kafilId')?.errors}" class="form-control">
                    <span class="edited-mark"
                        *ngIf="oneEmployee.kafilNameAr != mainEmployeeData.get('kafilNameAr')?.value"><i
                            class="fa-solid fa-marker"></i></span>

                    <div *ngIf="enableEditName=='kafilNameAr'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'kafilNameAr' , 'kafilNameEn' , 'kafilId')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">{{ item.nameAr }}</span>
                            <span class="px-2 ps-3 fw-light small"> - {{ item.id }}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
        </tr>

        <!-- employee Kafil Name (English) -->
        <tr *ngIf="currentLang == 'en'" class="row w-100 py-1 py-2-mobile font-18-mobile ">
            <td class=" col-md-3  py-sm-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.KafilNameEn' | translate }} :
                </p>
            </td>
            <td class=" col-md-6 w-75-mobile  py-sm-1 ">
                <div class="position-relative my-options-list">
                    <input formControlName="kafilNameEn" type="text" [value]="oneEmployee.kafilNameEn"
                        (keyup)="makeItInvalid('kafilId')" (focus)="getAllGroubOf('kafil' , 'kafilNameEn' , 'kafilId' )"
                        [ngClass]="{'is-invalid': mainEmployeeData.get('kafilId')?.errors}" class="form-control ">
                    <span [ngClass]="{'edited-mark-en': currentLang == 'en'}" class="edited-mark "
                        *ngIf="oneEmployee.kafilNameEn != mainEmployeeData.get('kafilNameEn')?.value"
                        class="edited-mark"><i class="fa-solid fa-marker"></i></span>
                    <div *ngIf="enableEditName=='kafilNameEn'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee">
                        <div (click)="setChosenValue(item , 'kafilNameAr' , 'kafilNameEn'  , 'kafilId' )"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">{{ item.nameEn }}</span>
                            <span class="px-2 ps-3 fw-light small"> - {{ item.id }}</span>
                        </div>
                    </div>
                </div>

            </td>
            <td class=" col-md-3  py-sm-1   w-25-mobile align-content-center px-0 d-flex">

            </td>
        </tr>

        <!-- ===========================================       END kafil      ========================================= -->


    </tbody>
</table>
<div class="w-100 text-center margin-100 z-0">
    <p *ngIf="inValidMsg" class="text-danger small my-2">
        قم بملئ المدخلات بطريقة صحيحة (اختر عنصر او اتركها فارغة)
    </p>
    <button [disabled]="!isFormChanged" (click)="sendUpdates()" class="btn btn-success px-5 py-2 mx-auto">
        {{ 'save_send' | translate }}
    </button>
</div>