.fs-14 {
    font-size: 14px !important;
}

.update-Button {
    width: 90px !important;
    min-width: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-Button {
    display: none;
}

.save-Button {
    display: none;
}
/* start from here ================== */
.form-control {
    padding: 4px 20px;
    min-width: 250px;
}

.input-label {
    width: 150px;
}

select{
    cursor: pointer;
}

@media screen and (max-width:576px) {
    .w-75-mobile {
        width: 75% !important;

    }

    .w-25-mobile {
        width: 25% !important;
    }

    .cancel-Button {
        width: 50px !important;
        min-width: 50px !important;
    }

    .save-Button {
        width: 50px !important;
        min-width: 50px !important;
    }

    .py-2-mobile {
        padding-block: 10px !important;
    }

    .font-18-mobile {
        font-size: 18px !important;
    }
/* start from here ================== */

    .input-label {
        padding-inline:20px;
        width: 100% !important;
        font-size: 18px;
        font-weight: 700;
    }

    .form-control {
        padding: 4px 20px;
        min-width: unset;
        width: 350px !important;
        text-align: center !important;
        font-size: 17px;
        font-weight: 500 !important;
    }

}