<table class=" w-100 {{ 'direction' | translate }}" [formGroup]="personalDataForm">
    <tbody>

        <!-- =========================================== start cminucate ========================================= -->
        <!-- =========================================== start cminucate ========================================= -->
        <!-- =========================================== start cminucate ========================================= -->

        <!-- employee Mobile -->
        <tr class="row w-100  py-sm-2 py-2-mobile font-18-mobile ">
            <!-- <td class="input-label py-sm-1   align-content-center">
                <p class="my-0  input-label py-sm-1  {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.Mobile' | translate }} :
                </p>

            </td> -->
            <td class="col-md-6  py-sm-1 d-flex justify-content-center flex-wrap  py-2-mobile ">
                <p class="my-0  input-label py-sm-1  {{  'peAR_Encustom'| translate }} "
                    [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.Mobile' |
                    translate }} :
                </p>
                <div class="position-relative">
                    <input formControlName="mobile" type="number" [value]="oneEmpolyee.mobile"
                        class="form-control border-0 border-bottom rounded-0">
                    <span *ngIf="oneEmpolyee.mobile != personalDataForm.get('mobile')?.value" class="edited-mark"
                        [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>


            <!-- employee Mobile Emergency -->
            <!-- <td class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.MobileEmergency' |
                    translate
                    }} : </p>
            </td> -->
            <td class="col-md-6  py-sm-1 d-flex justify-content-center flex-wrap  py-2-mobile ">
                <p class="my-0 input-label py-sm-1  {{  'peAR_Encustom'| translate }} "
                    [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.MobileEmergency' |
                    translate
                    }} : </p>
                <div class="position-relative">
                    <input formControlName="mobileEmergency" type="number" [value]="oneEmpolyee.mobileEmergency"
                        class="form-control border-0 border-bottom rounded-0">
                    <span *ngIf="oneEmpolyee.mobileEmergency != personalDataForm.get('mobileEmergency')?.value"
                        class="edited-mark" [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>
        </tr>

        <!-- employee Mobile Emergency -->
        <!-- <tr class="row w-100  py-sm-2 font-18-mobile  ">
            <td class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.MobileEmergency' |
                    translate
                    }} : </p>
            </td>
            <td class="col-md-4 w-100-mobile py-sm-1">
                <div class="position-relative">
                    <input formControlName="mobileEmergency" type="number" [value]="oneEmpolyee.mobileEmergency"
                        class="form-control">
                    <span *ngIf="oneEmpolyee.mobileEmergency != personalDataForm.get('mobileEmergency')?.value"
                        class="edited-mark" [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>
            <td class="col-md-3 w-25-mobile  py-sm-1 align-content-center px-0 d-flex">

            </td>
        </tr> -->

        <!-- =========================================== end cminucate ========================================= -->


        <!-- ===========================================      START nationality     ========================================= -->
        <!-- ===========================================      START nationality     ========================================= -->
        <!-- ===========================================      START nationality     ========================================= -->


        <!-- employee Nation Name (Arabic) -->
        <!-- employee Nation Id -->
        <tr class="row w-100  py-sm-2 font-18-mobile  ">
            <!-- employee Nation Name (Arabic) -->
            <!-- <td *ngIf="currentLang == 'ar'" class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.NationNameAr' | translate}}:
                </p>
            </td> -->
            <td *ngIf="currentLang == 'ar'" class="col-md-6  py-sm-1 d-flex justify-content-center flex-wrap  py-2-mobile ">
                <p class="my-0 input-label py-sm-1  ">{{ 'Update.NationNameAr' | translate}}:
                </p>
                <div class="position-relative">
                    <select (change)="setNation('nationNameAr')" formControlName="nationNameAr" name="nationNameAr"
                        id="nationNameAr" class="form-control  border-0 border-bottom rounded-0">
                        <option *ngFor="let item of nationList" [value]="item.nameAr">{{item.nameAr}}</option>
                    </select>
                    <span *ngIf="oneEmpolyee.nationNameAr != personalDataForm.get('nationNameAr')?.value"
                        class="edited-mark">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>

            <!-- employee Nation Name (English) -->
            <!-- <td *ngIf="currentLang == 'en'" class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.NationNameEn' | translate}}: </p>
            </td> -->
            <td *ngIf="currentLang == 'en'" class="col-md-6  py-sm-1 d-flex justify-content-center flex-wrap  py-2-mobile ">
                <p class="my-0 input-label py-sm-1   {{  'peAR_Encustom'| translate }} "
                    [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.NationNameEn' | translate}}: </p>
                <div class="position-relative">
                    <select (change)="setNation('nationNameEn')" formControlName="nationNameEn" name="nationNameEn"
                        id="nationNameEn" class="form-control border-0 border-bottom rounded-0">
                        <option [value]="oneEmpolyee.nationNameEn">{{oneEmpolyee.nationNameEn}}</option>
                        <option *ngFor="let item of nationList" [value]="item.nameEn">{{item.nameEn}}</option>
                    </select>
                    <span *ngIf="oneEmpolyee.nationNameEn != personalDataForm.get('nationNameEn')?.value"
                        class="edited-mark" [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
                <!-- <input formControlName="nationNameEn" type="text" [value]="oneEmpolyee.nationNameEn"
                    class="form-control border-0 border-bottom rounded-0"> -->
            </td>




            <!-- employee Nation Id -->
            <!-- <td class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.NationId' | translate }} :
                </p>
            </td> -->
            <td class="col-md-6  py-sm-1 d-flex justify-content-center flex-wrap  py-2-mobile ">
                <p class="my-0 input-label py-sm-1   {{  'peAR_Encustom'| translate }} "
                    [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.NationId' | translate }} :
                </p>
                <div class="position-relative">
                    <input readonly formControlName="nationId" type="text" [value]="oneEmpolyee.nationId"
                        class="form-control border-0 border-bottom rounded-0">
                    <span *ngIf="oneEmpolyee.nationId != personalDataForm.get('nationId')?.value" class="edited-mark"
                        [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>



        </tr>

        <!-- employee Nation Name (Arabic) -->
        <!-- <tr *ngIf="currentLang == 'ar'" class="row w-100  py-2 py-2-mobile font-18-mobile  ">
            <td class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.NationNameAr' | translate}}:
                </p>
            </td>
            <td class="col-md-4 w-100-mobile py-sm-1">
                <div class="position-relative">
                    <select (change)="setNation('nationNameAr')" formControlName="nationNameAr" name="nationNameAr"
                        id="nationNameAr" class="form-control border-0 border-bottom rounded-0">
                        <option [value]="oneEmpolyee.nationNameAr">{{oneEmpolyee.nationNameAr}}</option>
                        <option *ngFor="let item of nationList" [value]="item.nameAr">{{item.nameAr}}</option>
                    </select>
                    <span *ngIf="oneEmpolyee.nationNameAr != personalDataForm.get('nationNameAr')?.value"
                        class="edited-mark">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>
        </tr> -->

        <!-- employee Nation Name (English) -->
        <!-- <tr *ngIf="currentLang == 'en'" class="row w-100  py-2 py-2-mobile font-18-mobile  ">
            <td class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.NationNameEn' | translate
                    }}
                    : </p>
            </td>
            <td class="col-md-4 w-100-mobile py-sm-1">
                <div class="position-relative">
                    <select (change)="setNation('nationNameEn')" formControlName="nationNameEn" name="nationNameEn"
                        id="nationNameEn" class="form-control border-0 border-bottom rounded-0">
                        <option [value]="oneEmpolyee.nationNameEn">{{oneEmpolyee.nationNameEn}}</option>
                        <option *ngFor="let item of nationList" [value]="item.nameEn">{{item.nameEn}}</option>
                    </select>
                    <span *ngIf="oneEmpolyee.nationNameEn != personalDataForm.get('nationNameEn')?.value"
                        class="edited-mark" [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>

            </td>
            <td class="col-md-3 w-25-mobile  py-sm-1 align-content-center px-0 d-flex">

            </td>
        </tr> -->

        <!-- ===========================================       END nationality      ========================================= -->







        <!-- ===========================================      START Blood and state     ========================================= -->
        <!-- ===========================================      START Blood and state     ========================================= -->
        <!-- ===========================================      START Blood and state     ========================================= -->

        <!-- employee State -->
        <tr class="row w-100  py-sm-2 font-18-mobile  ">

            <!-- employee State -->
            <!-- <td class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.State' | translate }} :
                </p>
            </td> -->
            <td class="col-md-6  py-sm-1 d-flex justify-content-center flex-wrap  py-2-mobile ">
                <p class="my-0 input-label py-sm-1  {{  'peAR_Encustom'| translate }} "
                    [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.State' | translate }} :
                </p>
                <div class="position-relative">
                    <select formControlName="state" name="state" id="state"
                        class="form-control border-0 border-bottom rounded-0">
                        <option [value]="2 || 1">منفصل عن العمل</option>
                        <option value="0">علي رأس العمل</option>
                    </select>
                    <span *ngIf="oneEmpolyee.state != personalDataForm.get('state')?.value" class="edited-mark"
                        [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>

            <!-- <td class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.BloodType' | translate }} :
                </p>
            </td> -->
            <td class="col-md-6  py-sm-1 d-flex justify-content-center flex-wrap  py-2-mobile ">
                <p class="my-0 input-label py-sm-1    {{  'peAR_Encustom'| translate }} "
                    [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.BloodType' | translate }} :
                </p>
                <div class="position-relative ">
                    <input formControlName="blood" type="text" [value]="oneEmpolyee.blood"
                        class="form-control border-0 border-bottom rounded-0">
                    <span *ngIf="oneEmpolyee.blood != personalDataForm.get('blood')?.value" class="edited-mark"
                        [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>




        </tr>

        <!-- employee Blood Type -->
        <!-- <tr class="row w-100  py-sm-2 font-18-mobile  ">
            <td class="input-label py-sm-1  align-content-center">
                <p class="my-0   {{  'peAR_Encustom'| translate }} " [ngClass]="{'fw-semibold  fs-14': currentLang == 'en'}">{{ 'Update.BloodType' | translate }} :
                </p>
            </td>
            <td class="col-md-4 w-100-mobile py-sm-1">
                <div class="position-relative">
                    <input formControlName="blood" type="text" [value]="oneEmpolyee.blood"
                        class="form-control border-0 border-bottom rounded-0">
                    <span *ngIf="oneEmpolyee.blood != personalDataForm.get('blood')?.value" class="edited-mark"
                        [ngClass]="{'edited-mark-en': currentLang == 'en'}">
                        <i class="fa-solid fa-marker"></i>
                    </span>
                </div>
            </td>

        </tr> -->

        <!-- ===========================================       END Blood and state      ========================================= -->
    </tbody>
</table>

<div class="w-100 sending-button text-center margin-50">
    <button [disabled]="!isFormChanged" (click)="sendUpdates()" class="btn btn-success px-5 py-2 mx-auto">
        {{ 'save_send' | translate }}
    </button>
</div>