<section class="w-100 bg-white my-5 rounded-3 vh-80 shadow-lg CardOne" [ngClass]="{'slideIn': pageOpenOne}">
    <h1 class="text-center pt-5 fw-bolder">{{ 'all_orders.قائمة_الطلبات' | translate }}</h1>
    <!-- head of requests chooseList -->
    <div class="text-center p-md-5 py-4 mx-0 arabicList row g-3 d-flex justify-content-center align-items-center ">
        <div class="col-md-2 w-40-mobile ">
            <button routerLinkActive="btn-dark text-white" routerLink="/allOrders/loan"
                class="btn btn-outline-dark w-100 rounded-1 fw-bolder py-4 ordersButton">{{
                'all_orders.طلبات_السلفة' | translate }}</button>
        </div>
        <div class="col-md-2 w-40-mobile ">
            <button routerLinkActive="btn-dark text-white" routerLink="/allOrders/vacation"
                class="btn btn-outline-dark w-100 rounded-1 fw-bolder py-4 ordersButton  {{ 'all_orders.حجم_الخط' | translate }}">{{
                'all_orders.طلبات_الإجازة' | translate }}</button>
        </div>
        <div class="col-md-2 w-40-mobile  ">
            <button routerLinkActive="btn-dark text-white" routerLink="/allOrders/permissions"
                class="btn btn-outline-dark w-100 rounded-1 fw-bolder py-4 ordersButton ">
                طلبات الاسئذان
            </button>
        </div>
        <div class="col-md-2 w-40-mobile  ">
            <button routerLinkActive="btn-dark text-white" routerLink="/allOrders/assets"
                class="btn btn-outline-dark w-100 rounded-1 fw-bolder py-4 ordersButton ">
                طلبات العهدة
            </button>
        </div>
        <div class="col-md-2 w-40-mobile  ">
            <button routerLinkActive="btn-dark text-white" routerLink="/allOrders/letters"
                class="btn btn-outline-dark w-100 rounded-1 fw-bolder py-4 ordersButton ">
                طلبات الخطابات</button>
        </div>
    </div>




    <router-outlet></router-outlet>

</section>