<section #mainSection class="my-5 CardOne " [ngClass]="{'slideIn': true}">

    <form [formGroup]="permissionForm" (ngSubmit)="sendRequest()">
        <div class="vacationDetails arabicList bg-white rounded-4 w-100 overflow-hidden shadow-lg">
            <div class=" row ">



                <div class="col-md-7 col-lg-6  ">
                    <div class="d-flex justify-content-center align-items-center flex-column p-5 requestDetails">

                        <h2 class="fw-bolder my-3 "> طلب إذن </h2>

                        <div class="w-100 mt-5">

                            <div class="w-100 p-2 ">
                                <label for="empName"> اسم الموظف : </label>
                                <input type="text" id="empName" class="form-control " [value]="empName" disabled>
                            </div>

                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-50 p-2">
                                    <label for="empId"> رقم الموظف : </label>
                                    <input type="text" id="empId" class="form-control w-100" [value]=" empId " disabled>
                                </div>
                                <div class="w-50 p-2">
                                    <label for="tyepOfPremission"> نوع الخدمة : </label>
                                    <input type="text" id="tyepOfPremission" class="form-control w-100 "
                                        value=" إذن للمغادرة" disabled>
                                </div>

                            </div>





                            <div class="d-flex justify-content-center align-items-center flex-wrap">
                                <div class="w-50 p-2">
                                    <label for="startingTime">يبدأ وقت الاستئذان : </label>
                                    <input formControlName="startingTime" type="time" id="startingTime"
                                        class="form-control w-100 font-14-mobile py-2" placeholder="اختر الوقت">
                                </div>

                                <div class="w-50 p-2 ">
                                    <label for="totalTime"> المدة بالساعة :</label>
                                    <select formControlName="totalTime" name="" id=""
                                        class=" form-select font-14-mobile py-2">
                                        <option disabled selected value="null"> ادخل مدة الأذن </option>
                                        <option value="0"> اقل من ساعة </option>
                                        <option value="1"> 1 </option>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                        <option value="6"> 6 </option>
                                    </select>
                                </div>

                                <p class="text-danger small text-center errorInput w-50"
                                *ngIf=" this.permissionForm.get('totalTime')?.getError('required')&&  this.permissionForm.get('totalTime')?.touched ">
                                ادخل مدة الاذن بالساعة  </p>

                                <p class="text-danger text-center small errorInput w-50"
                                *ngIf=" this.permissionForm.get('startingTime')?.getError('required')&&  this.permissionForm.get('startingTime')?.touched ">
                                ادخل توقيت الاذن  </p>
                                
                            </div>








                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-100 p-2">
                                    <label for="details"> سبب االاستئذان : </label>
                                    <textarea formControlName="details" name="" id="details" rows="3"
                                        placeholder="هل ترغب في اطلاعنا بأي تفاصيل اخري ؟"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                            <p class="text-danger small errorInput px-3"
                            *ngIf=" this.permissionForm.get('details')?.getError('required')&&  this.permissionForm.get('details')?.touched ">
                           برجاء توضيح سبب الطلب من فضلك . .</p>


                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-100 p-2">
                                    <label for="myFile"> ارفق مستند : </label>
                                    <input formControlName="myFile" type="file" id="myFile" class="form-control w-100"
                                        [min]="todayDate" placeholder="تاريخ البدء">
                                </div>
                            </div>
                            <p class="text-danger small errorInput px-3"
                            *ngIf=" this.permissionForm.get('myFile')?.getError('required')&&  this.permissionForm.get('myFile')?.touched ">
                                ارفق المستند الخاص بالطلب من فضلك . .</p>






                        </div>
                        <div class="mt-5">
                            <button class="btn btn-outline-dark custombutn px-5 py-2 rounded-5">
                                ارسال الطلب <i class=" fa-solid fa-check px-1 "></i>
                            </button>
                        </div>

                    </div>
                </div>





                <div class="col-md-5 col-lg-6 hide-on-mobile ">
                    <div class="d-flex justify-content-center align-items-center vectorForm h-100  ">
                        <img src="./assets/images/compressed-images/wepb/time.webp" alt="طلب اجازة"
                            class="w-75 vectorImg">
                    </div>
                </div>













            </div>
        </div>
    </form>

</section>


<section #successModal class="SuccessModal vh-80 d-flex justify-content-center align-items-center d-none">
    <div class=" bg-white w-50 w-100-mobile mx-auto rounded-3 text-center shadow-lg ">

        <div class="p-5">
            <p class="doneMsgMain fs-3 "> <i class="fa-solid fa-circle-check fa-lg pe-2" style="color: #11645f;"></i>تم
                ارسال الطلب بنجاح </p>
            <p class="doneMsgSub fs-5 fw-light ">تفقد حالة الطلب من قسم <span class="fw-bolder"> الطلبات </span> </p>

            <div class="w-50-mobile d-inline-block">
                <button routerLink="/allOrders/vacation" class="btn btn-dark p-3 px-4 mx-1 btn-on-mobile w-100 rounded-end-0 "> الطلبات </button>
            </div>
            <div class="w-50-mobile d-inline-block">
                <button routerLink="/home" class="btn btn-outline-dark p-3 px-4 mx-1 btn-on-mobile w-100 rounded-start-0"> الرئيسية </button>
            </div>
           
        </div>


    </div>
</section>