<div class="bg-body-tertiary px-sm-5 vh-80 vh-100-on-mobile" [formGroup]="employeeDataForm">
    <section class=" w-100 container-fluid  rounded-3 vh-80  py-5 p-sm-5 ">
        <h1 class="  text-center py-0 fw-bolder  {{ 'admin_assets.حجم_العنوان' | translate }}">
            اضافة موظف جديد
        </h1>
        <div class=" row pt-5 pb-4 ">
            <div class="  inputs-div p-3-mobile arabicList col-md-7 col-lg-6 col-xxl-5 mx-auto">
                <div class="pb-3 ">
                    <label for="employeeNameAr" class="input-label">الاسم باللغة العربية:</label>
                    <input type="text" id="employeeNameAr" formControlName="employeeNameAr" class="form-control ">
                    <p *ngIf="employeeDataForm.get('employeeNameAr')?.errors && employeeDataForm.get('employeeNameAr')?.touched"
                        class="text-danger small">يجب ادخال الاسم باللغة العربية </p>

                </div>
                <div class="">
                    <label for="employeeNameEn" class="input-label">الاسم باللغة الانجليزية:</label>
                    <input type="text" id="employeeNameEn" formControlName="employeeNameEn" class="form-control ">
                    <p *ngIf="employeeDataForm.get('employeeNameEn')?.errors && employeeDataForm.get('employeeNameEn')?.touched"
                        class="text-danger small">يجب ادخال الاسم باللغة الانجليزية</p>
                </div>
                <div *ngIf="creationDone" class="pt-3 text-center">
                    <p class="text-success fs-18-mobile-16"> كود الموظف هو : {{newEmpData.employeeId}} </p>
                </div>
            </div>


        </div>
        <p *ngIf="unKnownErr" class="text-danger small text-center">يبدو ان هناك خطأ ما برجاء المحاولة لاحقاً ..</p>
        <p *ngIf="UnstoredRequest" class="text-danger small text-center">لم يتم تسجيل البيانات ... راجع البيانات المدخلة
        </p>
        <div class="w-100 text-center">
            <button *ngIf="!creationDone" (click)="sendData()" class="btn btn-dark py-2 w-170px">انشاء</button>

            <button *ngIf="creationDone" (click)="goToUpdatePage()"
                class=" btn btn-outline-dark me-3 next-Button px-5 p-3-mobile py-2 rounded-5 ">
                <i class="fa-fade fa-solid fa-circle-chevron-left fa-xl px-2 position-absolute start-0"></i>
                <span class="ps-3">{{ 'التالي' | translate }}</span>
            </button>
        </div>
    </section>
</div>