<div class="w-100 text-center ">
    <button (click)="sendUpdates()" class="btn btn-success px-5 py-3 mx-auto">ارسال</button>
</div>


<table class=" w-100 {{ 'direction' | translate }} margin-100" [formGroup]="ManagementFormData">
    <tbody>

        <!-- ===========================================     START Branches and manages  ========================================= -->
        <!-- ===========================================     START Branches and manages  ========================================= -->
        <!-- ===========================================     START Branches and manages  ========================================= -->
        <!-- employee Branch ID -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.BranchId' | translate }} :
                </p>
            </td>
            <td class="col-6 py-1">
                <input formControlName="branchId" type="text" [value]="oneEmployee.branchId" class="form-control">
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button disabled #branchId class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
            </td>
        </tr>

        <!-- employee Branch Ar -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.BranchAr' | translate }} :
                </p>
            </td>
            <td class="col-6 py-1">
                <div class="position-relative">
                    <input formControlName="branchNameAr" type="text" [value]="oneEmployee.branchNameAr"
                        class="form-control">
                    <div *ngIf="enableEditName=='branchNameAr'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'branchNameAr' , 'branchNameEn' , 'branchId',branchNameAr , 'branchNameAr')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">
                                {{item.nameAr}}
                            </span>
                            <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button (click)="getAllGroubOf('branch' , 'branchNameAr')" #branchNameAr
                    (click)="editSingleRow('branchNameAr', branchNameAr)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button (click)="closeEdittingInput('branchNameAr', branchNameAr, oneEmployee.branchNameAr, 'cancel')"
                    class="btn btn-danger save-Button update-Button fw-semibold fs-14 mx-1 align-content-center d-none">
                    <i class="fa-solid fa-xmark"></i>
                    <span class="px-1"> الغاء </span>
                </button>
                <button (click)="closeEdittingInput('branchNameAr', branchNameAr, oneEmployee.branchNameAr, 'save')"
                    class="btn btn-success cancel-Button update-Button fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="px-1"> موافق </span>
                </button>
            </td>
        </tr>

        <!-- employee Branch En -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.BranchEn' | translate }} :
                </p>
            </td>
            <td class="col-6 py-1">
                <div class="position-relative">
                    <input formControlName="branchNameEn" type="text" [value]="oneEmployee.branchNameEn"
                        class="form-control">
                    <div *ngIf="enableEditName=='branchNameEn'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'branchNameAr' , 'branchNameEn' , 'branchId',branchNameEn , 'branchNameEn')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">
                                {{item.nameEn}}
                            </span>
                            <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button (click)="getAllGroubOf('branch' , 'branchNameEn')" #branchNameEn
                    (click)="editSingleRow('branchNameEn', branchNameEn)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button (click)="closeEdittingInput('branchNameEn', branchNameEn, oneEmployee.branchNameEn, 'cancel')"
                    class="btn btn-danger save-Button update-Button fw-semibold fs-14 mx-1 align-content-center d-none">
                    <i class="fa-solid fa-xmark"></i>
                    <span class="px-1"> الغاء </span>
                </button>
                <button (click)="closeEdittingInput('branchNameEn', branchNameEn, oneEmployee.branchNameEn, 'save')"
                    class="btn btn-success cancel-Button update-Button fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="px-1"> موافق </span>
                </button>
            </td>
        </tr>

        <!-- emp Job ID -->
        <tr class="row w-100">
            <td class=" col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.JobId' | translate }} : </p>
            </td>
            <td class=" col-6 py-1">
                <input formControlName="jobId" type="text" [value]=" oneEmployee.jobId " class="form-control ">
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button disabled #branchId class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
            </td>
        </tr>

        <!-- emp Job AR -->
        <tr class="row w-100">
            <td class=" col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.JobTitleAr' | translate }} :
                </p>
            </td>
            <td class=" col-6 py-1 ">
                <div class="position-relative">
                    <input formControlName="jobNameAr" type="text" [value]="oneEmployee.jobNameAr" class="form-control">
                    <div *ngIf="enableEditName=='jobNameAr'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'jobNameAr' , 'jobNameEn' , 'jobId', empJobAr , 'jobNameAr')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">
                                {{item.nameAr}}
                            </span>
                            <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                            </span>
                        </div>
                    </div>
                </div>
            </td>

            <td class=" col-3 py-1  align-content-center  px-0 d-flex">

                <button (click)="getAllGroubOf('job' , 'jobNameAr')" (click)="editJobs('Job')" #empJobAr
                    (click)="editSingleRow('jobNameAr' , empJobAr)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button (click)="closeEdittingInput('jobNameAr' , empJobAr ,  oneEmployee.jobNameAr , 'cancel')"
                    class="btn btn-danger save-Button update-Button  fw-semibold fs-14 mx-1 align-content-center d-none">
                    <i class="fa-solid fa-xmark "></i>
                    <span class="px-1 "> الغاء </span>
                </button>
                <button (click)="closeEdittingInput('jobNameAr' , empJobAr ,  oneEmployee.jobNameAr , 'save')"
                    class="btn btn-success cancel-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check "></i>
                    <span class="px-1 "> موافق </span>
                </button>

            </td>
        </tr>

        <!-- emp Job EN -->
        <tr class="row w-100">
            <td class=" col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }}  ">{{ 'Update.JobTitleEn' | translate }} :
                </p>
            </td>
            <td class=" col-6 py-1 ">
                <div class="position-relative">
                    <input formControlName="jobNameEn" type="text" [value]="oneEmployee.jobNameEn" class="form-control">
                    <div *ngIf="enableEditName=='jobNameEn'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'jobNameAr' , 'jobNameEn' , 'jobId', empJobEn , 'jobNameEn')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">
                                {{item.nameEn}}
                            </span>
                            <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td class=" col-3 py-1  align-content-center  px-0 d-flex">

                <button  (click)="getAllGroubOf('job' , 'jobNameEn')"  #empJobEn (click)="editSingleRow('jobNameEn' , empJobEn)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button (click)="closeEdittingInput('jobNameEn' , empJobEn ,  oneEmployee.jobNameEn , 'cancel')"
                    class="btn btn-danger save-Button update-Button  fw-semibold fs-14 mx-1 align-content-center d-none">
                    <i class="fa-solid fa-xmark "></i>
                    <span class="px-1 "> الغاء </span>
                </button>
                <button (click)="closeEdittingInput('jobNameEn' , empJobEn ,  oneEmployee.jobNameEn , 'save')"
                    class="btn btn-success cancel-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check "></i>
                    <span class="px-1 "> موافق </span>
                </button>

            </td>
        </tr>

        <!-- employee Manage Id -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.ManageId' | translate }} :
                </p>
            </td>
            <td class="col-6 py-1">
                <input formControlName="manageId" type="text" [value]="oneEmployee.manageId" class="form-control">
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button disabled #branchId class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
            </td>
        </tr>

        <!-- employee Manage Name (Arabic) -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.ManageNameAr' | translate }}
                    : </p>
            </td>
            <td class=" col-6 py-1 ">
                <div class="position-relative">
                    <input formControlName="manageNameAr" type="text" [value]="oneEmployee.manageNameAr" class="form-control">
                    <div *ngIf="enableEditName=='manageNameAr'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'manageNameAr' , 'manageNameEn' , 'manageId', manageNameArButton , 'manageNameAr')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">
                                {{item.nameAr}}
                            </span>
                            <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button (click)="getAllGroubOf('manage' , 'manageNameAr')" #manageNameArButton (click)="editSingleRow('manageNameAr', manageNameArButton)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button
                    class="d-none">
                    <span class="px-1"> الغاء </span>
                </button>
                <button
                    (click)="closeEdittingInput('manageNameAr', manageNameArButton, oneEmployee.manageNameAr, 'save')"
                    class="btn btn-success cancel-Button update-Button fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="px-1"> موافق </span>
                </button>
            </td>
        </tr>

        <!-- employee Manage Name (English) -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.ManageNameEn' | translate }}
                    : </p>
            </td>
            <td class=" col-6 py-1 ">
                <div class="position-relative">
                    <input formControlName="manageNameEn" type="text" [value]="oneEmployee.manageNameEn" class="form-control">
                    <div *ngIf="enableEditName=='manageNameEn'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'manageNameAr' , 'manageNameEn' , 'manageId', manageNameEnButton , 'manageNameEn')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">
                                {{item.nameEn}}
                            </span>
                            <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button (click)="getAllGroubOf('manage' , 'manageNameEn')" #manageNameEnButton (click)="editSingleRow('manageNameEn', manageNameEnButton)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button
                    class=" d-none">
                    <span class="px-1"> الغاء </span>
                </button>
                <button
                    (click)="closeEdittingInput('manageNameEn', manageNameEnButton, oneEmployee.manageNameEn, 'save')"
                    class="btn btn-success cancel-Button update-Button fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="px-1"> موافق </span>
                </button>
            </td>
        </tr>

        <!-- employee Department Id -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.DepartmentId' | translate }}
                    : </p>
            </td>
            <td class="col-6 py-1">
                <input formControlName="departmentId" type="text" [value]="oneEmployee.departmentId"
                    class="form-control">
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button disabled #branchId class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
            </td>
        </tr>

        <!-- employee Department Name (Arabic) -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.DepartmentNameAr' | translate
                    }} : </p>
            </td>
            <td class=" col-6 py-1 ">
                <div class="position-relative">
                    <input formControlName="departmentNameAr" type="text" [value]="oneEmployee.departmentNameAr" class="form-control">
                    <div *ngIf="enableEditName=='departmentNameAr'"
                        class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                        <div (click)="setChosenValue(item , 'departmentNameAr' , 'departmentNameEn' , 'departmentId', departmentNameArButton , 'departmentNameAr')"
                            *ngFor="let item of allgroups"
                            class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                            <span class="px-2">
                                {{item.nameAr}}
                            </span>
                            <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button  (click)="getAllGroubOf('Department' , 'departmentNameAr')"
                #departmentNameArButton (click)="editSingleRow('departmentNameAr', departmentNameArButton)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button
                    class="d-none">
                    <span class="px-1"> الغاء </span>
                </button>
                <button
                    (click)="closeEdittingInput('departmentNameAr', departmentNameArButton, oneEmployee.departmentNameAr, 'save')"
                    class="btn btn-success cancel-Button update-Button fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="px-1"> موافق </span>
                </button>
            </td>
        </tr>

        <!-- employee Department Name (English) -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.DepartmentNameEn' | translate
                    }} : </p>
            </td>
            <td class=" col-6 py-1 ">

            <div class="position-relative">
                <input formControlName="departmentNameEn" type="text" [value]="oneEmployee.departmentNameEn" class="form-control">
                <div *ngIf="enableEditName=='departmentNameEn'"
                    class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                    <div (click)="setChosenValue(item , 'departmentNameAr' , 'departmentNameEn' , 'departmentId', departmentNameEnButton , 'departmentNameEn')"
                        *ngFor="let item of allgroups"
                        class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                        <span class="px-2">
                            {{item.nameEn}}
                        </span>
                        <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                        </span>
                    </div>
                </div>
            </div>
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button (click)="getAllGroubOf('Department' , 'departmentNameEn')" #departmentNameEnButton (click)="editSingleRow('departmentNameEn', departmentNameEnButton)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button
                    class="d-none">
                    <span class="px-1"> الغاء </span>
                </button>
                <button
                    (click)="closeEdittingInput('departmentNameEn', departmentNameEnButton, oneEmployee.departmentNameEn, 'save')"
                    class="btn btn-success cancel-Button update-Button fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="px-1"> موافق </span>
                </button>
            </td>
        </tr>

        <!-- employee Category Id -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.CategoryId' | translate }} :
                </p>
            </td>
            <td class="col-6 py-1">
                <input formControlName="employeeCategoryId" type="text" [value]="oneEmployee.employeeCategoryId"
                    class="form-control">
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button disabled #branchId class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
            </td>
        </tr>

        <!-- employee Category Name (Arabic) -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.CategoryNameAr' | translate
                    }} : </p>
            </td>
            <td class="col-6 py-1">
                    <div class="position-relative">
                        <input formControlName="employeeCategoryNameAr" type="text" [value]="oneEmployee.employeeCategoryNameAr" class="form-control">
                        <div *ngIf="enableEditName=='employeeCategoryNameAr'"
                            class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                            <div (click)="setChosenValue(item , 'employeeCategoryNameAr' , 'employeeCategoryNameEn' , 'employeeCategoryId', empCategoryNameArButton , 'employeeCategoryNameAr')"
                                *ngFor="let item of allgroups"
                                class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                                <span class="px-2">
                                    {{item.nameAr}}
                                </span>
                                <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                                </span>
                            </div>
                        </div>
                    </div>
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button  (click)="getAllGroubOf('EmployeeCategory' , 'employeeCategoryNameAr')" #empCategoryNameArButton (click)="editSingleRow('employeeCategoryNameAr', empCategoryNameArButton)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button
                    class=" d-none">
                    <span class="px-1"> الغاء </span>
                </button>
                <button
                    (click)="closeEdittingInput('employeeCategoryNameAr', empCategoryNameArButton, oneEmployee.employeeCategoryNameAr, 'save')"
                    class="btn btn-success cancel-Button update-Button fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="px-1"> موافق </span>
                </button>
            </td>
        </tr>

        <!-- employee Category Name (English) -->
        <tr class="row w-100">
            <td class="col-3 py-1  align-content-center">
                <p class="my-0  fw-normal {{  'peAR_Encustom'| translate }} ">{{ 'Update.CategoryNameEn' | translate
                    }} : </p>
            </td>
            <td class="col-6 py-1">
                    <div class="position-relative">
                        <input formControlName="employeeCategoryNameEn" type="text" [value]="oneEmployee.employeeCategoryNameEn" class="form-control">
                        <div *ngIf="enableEditName=='employeeCategoryNameEn'"
                            class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee z-3">
                            <div (click)="setChosenValue(item , 'employeeCategoryNameAr' , 'employeeCategoryNameEn' , 'employeeCategoryId', empCategoryNameEnButton , 'employeeCategoryNameEn')"
                                *ngFor="let item of allgroups"
                                class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative d-flex justify-content-between">
                                <span class="px-2">
                                    {{item.nameEn}}
                                </span>
                                <span class="px-2 ps-3 fw-light small"> - {{item.id}}
                                </span>
                            </div>
                        </div>
                    </div>
            </td>
            <td class="col-3 py-1 align-content-center px-0 d-flex">
                <button (click)="getAllGroubOf('EmployeeCategory' , 'employeeCategoryNameEn')" #empCategoryNameEnButton (click)="editSingleRow('employeeCategoryNameEn', empCategoryNameEnButton)"
                    class="btn btn-dark update-Button fw-semibold fs-14">
                    <i class="fa-regular fa-pen-to-square px-1"></i>
                    تعديل
                </button>
                <button
                    class="d-none">
                    <span class="px-1"> الغاء </span>
                </button>
                <button
                    (click)="closeEdittingInput('employeeCategoryNameEn', empCategoryNameEnButton, oneEmployee.employeeCategoryNameEn, 'save')"
                    class="btn btn-success cancel-Button update-Button fw-semibold fs-14 mx-1 align-content-center">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="px-1"> موافق </span>
                </button>
            </td>
        </tr>
        <!-- ===========================================     END Branches and manages  ========================================= -->


    </tbody>
</table>