<section class="w-100 arabicList">

    <div class="w-100 p-sm-5 px-2 ">


        <!-- ده اللي هيتكرر -->
        <div *ngFor="let order of ordersList ">
            <p class=" orderNumber my-0 d-inline-block bg-white px-2 rounded "> رقم الطلب : {{order.id}} </p>
            <div
                class="parentOfOrders mx-0 w-100 bg-white rounded border row d-flex justify-content-center align-items-center overflow-hidden ">


                <div class="col-md-3">
                    <div class=" w-100 border-start noBorder-mobile">
                        <p *ngIf="order.vacationType=='UnpaidLeave'" class="my-0 "> نوع الاجازة : اجازة شخصية </p>
                        <p *ngIf="order.vacationType=='Annual'" class="my-0 "> نوع الاجازة : اجازة عامة </p>
                        <p *ngIf="order.vacationType=='SickLeave'" class="my-0 "> نوع الاجازة : اجازة مرضية </p>

                        <p class="my-0"> تاريخ البدء : {{order.startDate.split('T')[0] | date :'yyyy/MM/dd'}} </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" w-100 border-start noBorder-mobile">
                        <p class="my-0"> عدد الايام: {{order.numberOfDays}} </p>
                        <p class="my-0"> تفاصيل الطلب: {{order.details}} </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" w-100  noBorder-mobile">
                        <p class="my-0"> تفاصيل الرد : {{order.approveDetails}} </p>
                        <p *ngIf="order.approveStatus == 'Approved' " class="my-0"> حالة الطلب : <span
                                class="status-Msg-confirmed"> تمت الموافقة  </span></p>
                        <p *ngIf="order.approveStatus == 'NotApproved' " class="my-0"> حالة الطلب : <span
                                class="status-Msg-rejected"> تم رفض الطلب </span></p>
                        <p *ngIf="order.approveStatus == 'Pinding' " class="my-0"> حالة الطلب : <span
                                class="status-Msg-pendding"> جاري مراجعة الطلب </span></p>
                    </div>
                </div>
                <div class="col-md-2 statusImg">
                    <div class=" w-100 mx-auto p-2 text-center  ">
                        <img *ngIf="order.approveStatus == 'Approved' " src="./assets/images/verify_2921147.png" alt=""
                            class=" w-50 w-100-mobile">
                        <img *ngIf="order.approveStatus == 'Pinding' " src="./assets/images/pending_3388322.png" alt=""
                            class="w-50 w-100-mobile">
                        <img *ngIf="order.approveStatus == 'NotApproved' " src="./assets/images/delete_2808336.png" alt=""
                            class=" w-50 w-100-mobile">
                    </div>
                </div>


            </div>
        </div>

    </div>

</section>