<section class="vh-80 d-flex justify-content-center align-items-center">
    <div class="row arabicList g-4 py-5 text-center">

        <div class="col-md-4 CardOne" [ngClass]="{'slideIn': pageOpenOne}">
            <div class="bg-white rounded-5 myItem shadow-lg p-3">

                <div class="myVector w-75 mx-auto">
                    <img src="./assets/images/compressed-images/wepb/5740247.webp" alt="solfa" class="w-100">
                </div>
                <div class="buttons w-100">
                    <button routerLink="/loan" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder">{{ 'home.طلب_سلفة' | translate }}</button>
                    <button routerLink="/allOrders/loan" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder">{{ 'home.استعلام_سلفة' | translate }}</button>
                </div>

            </div>
        </div>

        <div class="col-md-4 CardTwo" [ngClass]="{'slideIn': pageOpenTwo}">
            <div class="bg-white rounded-5 myItem shadow-lg p-3">
                <div class="myVector w-75 mx-auto">
                    <img src="./assets/images/compressed-images/wepb/vacancy.webp" alt="vacancy" class="w-100">
                </div>
                <div class="buttons w-100">
                    <button routerLink="/vacations" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder">{{ 'home.طلب_اجازة' | translate }}</button>
                    <button routerLink="/allOrders/vacation" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder">{{ 'home.استعلام_اجازة' | translate }}</button>
                </div>

            </div>
        </div>

        <div class="col-md-4 CardTrhee" [ngClass]="{'slideIn': pageOpenThree}">
            <div class="bg-white rounded-5 myItem shadow-lg p-3">
                <div class="myVector w-75 mx-auto">
                    <img src="./assets/images/compressed-images/wepb/enhaa2.webp" alt="enhaa" class="w-100">
                </div>
                <div class="buttons w-100">
                    <button routerLink="/terminate" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder">{{ 'home.طلب_انهاء' | translate }}</button>
                    <button routerLink="/terminate" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder">{{ 'home.استعلام_انهاء' | translate }}</button>
                </div>

            </div>
        </div>

    </div>
</section>
