<section class="vh-80  d-flex justify-content-center align-items-center ">

    <div class=" row arabicList g-4 py-5 text-center">

        <div class="col-md-4">
            <div class=" bg-white rounded-5 myItem shadow-lg p-3">


                <div class="myVector w-75 mx-auto">
                    <img src="./assets/images/solfa.jpg" alt="" class="w-100">
                </div>
                <div class="buttons w-100">

                    <button routerLink="/loan" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1  fw-bolder "> طلب
                        سلفة</button>
                    <button routerLink="/loan" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder "> استعلام
                        سلفة</button>
                </div>

            </div>
        </div>


        <div class="col-md-4">
            <div class=" bg-white rounded-5 myItem  shadow-lg p-3">
                <div class="myVector w-75 mx-auto">
                    <img src="./assets/images/agaza.jpg" alt="" class="w-100">
                </div>
                <div class="buttons w-100">
                    <button  routerLink="/vacations"  class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder "> طلب
                        اجازة</button>
                    <button  routerLink="/vacations" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder "> استعلام
                        اجازة</button>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class=" bg-white rounded-5 myItem shadow-lg  p-3">
                <div class="myVector w-75 mx-auto">
                    <img src="./assets/images/enhaa.jpg" alt="" class="w-100">
                </div>
                <div class="buttons w-100">
                    <button routerLink="/terminate" class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder "> طلب
                        انهاء</button>
                    <button  routerLink="/terminate"  class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder "> استعلام
                        انهاء</button>
                </div>

            </div>
        </div>


    </div>

</section>