.CardOne,
.CardTwo,
.CardTrhee {
    position: relative;
    left: -200px;
    transition: left 1s, opacity .5s, scale 1s;
    opacity: 0;
}

.slideIn {
    left: 0px;
    opacity: 1;
}

.myItem {
    min-height: 300px !important;
    transition: all .35s;

    &:hover {
        transform: translateY(-22px);
        scale: 1 !important;
    }
}

.cards-div {
    padding-block: 48px;
}


@media screen and (max-width:576px) {
    .myTitle {
        padding-block: 50px !important;
        font-size: 35px !important;
    }

    .input-label {
        font-size: 16px !important;
    }

    .myItem {
        &:hover {
            transform: none;
            scale: 1.05 !important;
        }
    }

    .cards-div {
        padding-bottom: 100px !important;
        padding-top: 0 !important;
        gap: 25px;
    }
}