<section class="w-100 arabicList">
    <div class="w-100 p-sm-5 px-2">
        <!-- ده اللي هيتكرر -->
        <div *ngFor="let order of AssetsList">
            <div class="w-100 {{ 'direction' | translate }}">
                <p class="orderNumber my-0 d-inline-block bg-white px-2 rounded {{ 'fixOrderNumber' | translate }}">
                    {{ 'my_order_vac.رقم_الطلب' | translate }} : {{order.id}}
                </p>
            </div>

            <div
                class="parentOfOrders {{ 'direction' | translate }} mx-0 w-100 bg-white rounded border row d-flex justify-content-center align-items-center overflow-hidden ">
                <div class="col-md-4">
                    <div class="w-100 border-start noBorder-mobile">
                        <p class="my-0">
                            تفاصيل العهدة : {{order.details}}
                        </p>

                        <p *ngIf="order.isEmployeeAgree== true" class="my-0">
                            الحفاظ علي العهدة : موافق
                        </p>
                        <p *ngIf="order.isEmployeeAgree== false" class="my-0">
                            الحفاظ علي العهدة : غير موافق
                        </p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="w-100 border-start noBorder-mobile">
                        <p class="my-0">
                            مرفقات :
                            <span *ngIf="order.uploadFileId"> نعم </span>
                            <span *ngIf="order.uploadFileId == null"> لا يوجد </span>
                        </p>
                        <p class="my-0" *ngIf="order.uploadFileId">
                            <a (click)="fileDownload(order.uploadFileId)"
                                class="link-underline-opacity-50 link-underline">
                                تحميل المرفق
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="w-100 noBorder-mobile">
                        <p class="my-0">
                            {{ 'my_order_vac.تفاصيل_الرد' | translate }} : {{order.approveDetails}}
                        </p>
                        <p *ngIf="order.approveStatus == 'Approved'" class="my-0">
                            {{ 'my_order_vac.حالة_الطلب' | translate }} : <span class="status-Msg-confirmed">{{
                                'my_order_vac.تمت_الموافقة' | translate }}</span>
                        </p>
                        <p *ngIf="order.approveStatus == 'NotApproved'" class="my-0">
                            {{ 'my_order_vac.حالة_الطلب' | translate }} : <span class="status-Msg-rejected">{{
                                'my_order_vac.تم_رفض_الطلب' | translate }}</span>
                        </p>
                        <p *ngIf="order.approveStatus == 'Pinding'" class="my-0">
                            {{ 'my_order_vac.حالة_الطلب' | translate }} : <span class="status-Msg-pendding">{{
                                'my_order_vac.جاري_مراجعة_الطلب' | translate }}</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-2 statusImg   {{ 'fixStatusImg' | translate }} ">
                    <div class="w-100 mx-auto p-2 text-center">
                        <img *ngIf="order.approveStatus == 'Approved'"
                            src="./assets/images/compressed-images/wepb/accepted.png" alt="Approved"
                            class="w-50 w-100-mobile">
                        <img *ngIf="order.approveStatus == 'Pinding'"
                            src="./assets/images/compressed-images/wepb/pending_3388322.png" alt="Pending"
                            class="w-50 w-100-mobile">
                        <img *ngIf="order.approveStatus == 'NotApproved'"
                            src="./assets/images/compressed-images/wepb/delete_2808336.png" alt="NotApproved"
                            class="w-50 w-100-mobile">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>