<section class="w-100 arabicList">
    <div class="w-100 p-sm-5 px-2">
        <!-- ده اللي هيتكرر -->
        <div *ngFor="let order of AssetsList" class="hover-scale">
            <div class="w-100 {{ 'direction' | translate }}">
                <p class="orderNumber my-0 d-inline-block bg-white px-2 rounded {{ 'fixOrderNumber' | translate }}">
                    {{ 'my_order_vac.رقم_الطلب' | translate }} : {{order.id}}
                </p>
            </div>

            <div
                class="parentOfOrders {{ 'direction' | translate }} mx-0  shadow my-2  rounded-3 w-100 bg-white rounded border row d-flex justify-content-center align-items-center overflow-hidden ">
                <div class="col-md-4">
                    <div class="w-100 {{'admin_vacation.border' | translate}} noBorder-mobile">
                        <p class="my-0">
                            {{ 'EmpAssets.تفاصيل_العهدة' | translate }} : {{ order.details }}
                        </p>

                        <p class="my-0">
                            {{ 'EmpAssets.الحفاظ_علي_العهدة' | translate }} :
                            <span *ngIf="order.isEmployeeAgree == true">{{ 'EmpAssets.موافق' | translate }}</span>
                            <span *ngIf="order.isEmployeeAgree == false">{{ 'EmpAssets.غير_موافق' | translate }}</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="w-100 {{'admin_vacation.border' | translate}} noBorder-mobile">
                        <p class="my-0">
                            {{ 'EmpAssets.مرفقات' | translate }} :
                            <span *ngIf="order.uploadFileId">{{ 'EmpAssets.نعم' | translate }}</span>
                            <span *ngIf="!order.uploadFileId">{{ 'EmpAssets.لا_يوجد' | translate }}</span>
                        </p>
                        <p class="my-0" *ngIf="order.uploadFileId">
                            <a (click)="fileDownload(order.uploadFileId)"
                                class="link-underline-opacity-50 link-underline">
                                {{ 'EmpAssets.تحميل_المرفق' | translate }}
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="w-100 noBorder-mobile">
                        <p class="my-0">
                            {{ 'EmpAssets.تفاصيل_الرد' | translate }} : {{ order.approveDetails }}
                        </p>
                        <p *ngIf="order.approveStatus == 'Approved'" class="my-0">
                            {{ 'EmpAssets.حالة_الطلب' | translate }} :
                            <span class="status-Msg-confirmed">{{ 'EmpAssets.تمت_الموافقة' | translate }}</span>
                        </p>
                        <p *ngIf="order.approveStatus == 'NotApproved'" class="my-0">
                            {{ 'EmpAssets.حالة_الطلب' | translate }} :
                            <span class="status-Msg-rejected">{{ 'EmpAssets.تم_رفض_الطلب' | translate }}</span>
                        </p>
                        <p *ngIf="order.approveStatus == 'Pinding'" class="my-0">
                            {{ 'EmpAssets.حالة_الطلب' | translate }} :
                            <span class="status-Msg-pendding">{{ 'EmpAssets.جاري_مراجعة_الطلب' | translate }}</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-2 statusImg   {{ 'fixStatusImg' | translate }} ">
                    <div class="w-100 mx-auto p-2 text-center">
                        <img *ngIf="order.approveStatus == 'Approved'"
                            src="./assets/images/compressed-images/wepb/accepted.png" alt="Approved"
                            class="w-50 w-100-mobile">
                        <img *ngIf="order.approveStatus == 'Pinding'"
                            src="./assets/images/compressed-images/wepb/pending_3388322.png" alt="Pending"
                            class="w-50 w-100-mobile">
                        <img *ngIf="order.approveStatus == 'NotApproved'"
                            src="./assets/images/compressed-images/wepb/delete_2808336.png" alt="NotApproved"
                            class="w-50 w-100-mobile">
                    </div>
                </div>

            </div>