<div  *ngIf="passportNum != null " class="row bg-white {{ 'direction' | translate}} full-flex h-100 ">

    <div class=" col-lg-7 col-xxl-8  py-5">
        <div class=" fs-3 px-3 text-center full-flex flex-column w-100 h-100 {{ 'direction' | translate}}">
            <div class=" w-100 full-flex ">
                <span class="my-0  text-end "> {{ 'page.رقم_جواز_السفر' | translate }} : </span> <span
                    class="bg- px-2 fs-3 align-middle text-end "> {{passportNum}}</span>
            </div>
            <div class="full-flex  w-100 ">
                <span class="my-0  text-end  "> {{ 'page.تاريخ_انتهاء_الجواز' | translate }} : </span> <span class=" px-3  text-end"> {{passportEnd}}
                </span>
            </div>

        </div>
    </div>
    <div class=" col-lg-5 col-xxl-4 ">
        <div class="w-75  text-center mx-auto">
            <img src="./assets/images/non-compressed/passport.jpg" alt="" class="w-100">
        </div>
    </div>

</div>

<div *ngIf="passportNum == null " class="full-flex h-100">
    <p class="fs-1 text-center text-teal">{{"page.لا_يوجد_بيانات_متاحة" | translate}}</p>
</div>
