<section class="vh-80  d-flex bg-body-tertiary align-items-center  flex-column px-4 row mx-0">
    <p class="fs-1 text-center myTitle englishFont fw-medium py-3">Master</p>
    <div class=" row arabicList g-0 text-center col-md-10 col-xl-9 col-xxl-8  mx-0">

        <div [formGroup]="settingForm" class="col-12 d-flex mb-3">
            <div class="w-25 px-2">
                <select #select (change)="getAllItems(select.value)" name="" id="" class="form-control">
                    <option value="company">شركات</option>
                    <option value="nation">جنسية</option>
                    <option value="branch">فروع</option>
                    <option value="job">وظيفة</option>
                </select>
            </div>
            <div class="w-75 px-2">
                <input type="text" formControlName="searchInput" class="form-control"
                    placeholder="ابحث عن التعريفات بالأسم او الكود . .">
            </div>
        </div>

        <!-- <div *ngFor="let item of itemsList" class="col-md-6 ">
            <div class=" rounded-5 item shadow p-3 d-flex ">
                <p class="my-0 fw-lighter">{{item.id}} </p>
                <p class="my-0 mx-auto"> {{item.nameAr}} </p>
            </div>
        </div> -->


        <table class="table-bordered table-info mt-4">
            <thead class="border border-info bg-primary-subtle">
                <th class="w-70px"></th>
                <th class=" py-3 w-150px englishFont fw-normal">Master id</th>
                <th class=" py-3 englishFont fw-normal">Name</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemsList" class="">
                    <td class="">
                        <label class="cyberpunk-checkbox-label">
                            <input type="checkbox" class="cyberpunk-checkbox">
                        </label>
                    </td>
                    <td class=" py-3 ">
                        <p class="my-0  fw-normal">{{item.id}} </p>
                    </td>
                    <td class=" py-3">
                        <p *ngIf="currentLang == 'ar'" class="my-0 mx-auto fw-normal"> {{item.nameAr}} </p>
                        <p *ngIf="currentLang == 'en'" class="my-0 mx-auto fw-normal"> {{item.nameEn}} </p>
                    </td>
                </tr>
            </tbody>

        </table>

        <div class="my-5"></div>

        <!-- <div class="col-md-4 ">
            <div class="bg-white rounded-5 myItem shadow p-3">
                <div class="myVector w-75 mx-auto">
                    <img src="./assets/images/compressed-images/wepb/10838247_4559992.webp" alt="vacancy" class="w-100">
                </div>
                <div class="buttons w-100">
                    <button routerLink="/employee-update"
                        class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder">{{"home_Dashboard.تعديل_موظف" |
                        translate}}</button>
                </div>

            </div>
        </div>

        <div class="col-md-4 ">
            <div class="bg-white rounded-5 myItem shadow p-3">
                <div class="myVector w-75 mx-auto">
                    <img src="./assets/images/compressed-images/wepb/5538440_2876475.webp" alt="enhaa" class="w-100">
                </div>
                <div class="buttons w-100">
                    <button routerLink="/admin-dashboard"
                        class="btn btn-outline-dark rounded-4 w-100 py-3 my-1 fw-bolder">{{"home_Dashboard.بحث_و_احصاء_الموظفين"
                        | translate}}</button>
                </div>

            </div>
        </div> -->

    </div>
</section>