.greenDot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 211, 53);
}

.empImg{
    width: 40px;
    height: auto;
    border-radius: 50%;

}


.empcolor{
    color: rgb(255, 153, 0);
    text-transform: capitalize;
}

.idwidth{
    width: 100px;
    text-align: center;
    font-weight: lighter;
}

.personTd{
    width: 300px;
}

th{
    text-transform:uppercase;
font-weight: light;
}

.adding-btn{
    width: 200px;
}

.project-options option{
font-size: 20px;
}