<section class="w-100 bg-body-secondary min-vh-100 py-5 px-2 pt-0 ">
    <!-- <div
        class="text-center  py-0  my-2 mx-0 arabicList row  d-flex justify-content-center align-items-center ">
        <div class="col-md-2 w-40-mobile hide-on-mobile ">
            <button routerLinkActive="btn-dark text-white" routerLink="new"
                class="btn btn-outline-dark w-100 rounded-5 fw-bolder py-2 ordersButton ">
                سجل جديد
            </button>
        </div>
        <div class="col-md-2 w-40-mobile hide-on-mobile ">
            <button routerLinkActive="btn-dark text-white" routerLink="display"
                class="btn btn-outline-dark w-100 rounded-5 fw-bolder py-2 ordersButton ">
                عرض سجل
            </button>
        </div>
        <div class="col-md-2 w-40-mobile hide-on-mobile ">
            <button routerLinkActive="btn-dark text-white"
                class="btn btn-outline-dark w-100 rounded-5 fw-bolder py-2 ordersButton ">
                بحث مخصص
            </button>
        </div>
    </div> -->

    <router-outlet></router-outlet>

</section>