.emp-Hover {
    transition: all .1s;

    &:hover {
        background-color: #0d6efd;
        color: #FFF;
    }
}

.listOfEmployee {
    width: 100% !important;
    position: absolute;
    top: 100%;
    background-color: #FFF;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top: 0 !important;
    max-height: 245px !important;
    overflow: auto;
    margin-inline: auto !important;
    padding-inline: 0 !important;
    border-radius: 15px;
}

.fs-14 {
    font-size: 14px !important;
}

.update-Button {
    width: 90px !important;
    min-width: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-Button {
    display: none;
}

.save-Button {
    display: none;
}



.sections {
    /* position: fixed; */
    /* height: 100vh; */
    left: 0;
    top: 0;
}

.fakeHeight {
    height: 90px !important;
}

.sections-Hover {
    transition: all .1s;

    &:hover {
        background-color: #ffffff2f;
        color: #ffffff;
    }
}

.activeSection{
    background-color: #fff !important;
    color: #0d6efd !important;
}


@media screen and (max-width:576px) {
    .sections {
        position: static;
        height: auto;
    }

    .fakeHeight {
        height: 0px !important;
    }

    .w-80-mobile {
        width: 75% !important;
    }


}