<section>
    <form [formGroup]="searchingForm" class="w-100">
        <div class=" w-100 rounded text-center py-3 full-flex  flex-column row mx-0 ">
            <div class="full-flex col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 px-0  position-relative">
                <div class="input-group my-1 ">
                    <input type="search" formControlName="searchInput" class="form-control" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1">
                    <span class="input-group-text bg-primary border-2 border-start-0 border-primary px-3"
                        id="basic-addon1">
                        <i class="fa-solid fa-magnifying-glass text-white fa-1x"></i>
                    </span>
                </div>
                <div *ngIf="employeeList.length > 0 && showList"
                    class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 border listOfEmployee">
                    <div *ngFor="let employee of employeeList" (click)="getEmployeeDetails(employee.employeeId)"
                        class=" emp-Hover w-100 border-bottom  py-2 cursor-pointer position-relative">
                        {{employee.nameAr}}
                        <span class="px-2 position-absolute start-0 ps-3 fw-light small"> {{employee.employeeId}} -
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="w-100 py-5 px-2" [formGroup]="employeeData">
        <div class=" rounded-2 bg-body-tertiary ">
            <table class=" w-100">
                <tbody>


                    <tr class="row w-100">
                        <td class=" col-3 py-1 text-center  align-content-center">
                            <p class="my-0 ps-sm-5 fw-light ">Full Name : </p>
                        </td>
                        <td class=" col-6 py-1">
                            <input formControlName="empName" type="text" [value]=" oneEmplyee.employeeNameAr "
                                class="form-control">
                        </td>
                        <td class=" col-3 py-1  align-content-center  px-0 d-flex">

                            <button #empName (click)="editSingleRow('empName' , empName)"
                                class="btn btn-outline-dark update-Button fw-semibold fs-14">
                                <i class="fa-regular fa-pen-to-square px-1"></i>
                                تعديل
                            </button>
                            <button
                                class="btn btn-danger save-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-xmark "></i>
                                <span class="px-1 "> الغاء </span>
                            </button>
                            <button (click)="closeEdittingInput('empName' , empName)"
                                class="btn btn-success cancel-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-user-check "></i>
                                <span class="px-1 "> حفظ </span>
                            </button>

                        </td>
                    </tr>




                    <tr class="row w-100">
                        <td class=" col-3 py-1 text-center align-content-center">
                            <p class="my-0 ps-sm-5 fw-light ">Jop title : </p>
                        </td>
                        <td class=" col-6 py-1">
                            <input formControlName="empJob" #jobInput type="text" [value]=" oneEmplyee.jobNameAr "
                                class="form-control ">
                        </td>
                        <td class=" col-3 py-1  align-content-center  px-0 d-flex">

                            <button #empJob (click)="editSingleRow('empJob' , empJob)"
                                class="btn btn-outline-dark update-Button fw-semibold fs-14">
                                <i class="fa-regular fa-pen-to-square px-1"></i>
                                تعديل
                            </button>
                            <button
                                class="btn btn-danger save-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-xmark "></i>
                                <span class="px-1 "> الغاء </span>
                            </button>
                            <button (click)="closeEdittingInput('empJob' , empJob)"
                                class="btn btn-success cancel-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-user-check "></i>
                                <span class="px-1 "> حفظ </span>
                            </button>

                        </td>
                    </tr>
                    <tr class="row w-100">
                        <td class=" col-3 py-1 text-center align-content-center">
                            <p class="my-0 ps-sm-5 fw-light ">Company : </p>
                        </td>
                        <td class=" col-6 py-1 ">
                            <input formControlName="empCompany" type="text" [value]=" oneEmplyee.companyNameAr "
                                class="form-control ">
                        </td>
                        <td class=" col-3 py-1  align-content-center  px-0 d-flex">

                            <button #empCompany (click)="editSingleRow('empCompany' , empCompany)"
                                class="btn btn-outline-dark update-Button fw-semibold fs-14">
                                <i class="fa-regular fa-pen-to-square px-1"></i>
                                تعديل
                            </button>
                            <button
                                class="btn btn-danger save-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-xmark "></i>
                                <span class="px-1 "> الغاء </span>
                            </button>
                            <button (click)="closeEdittingInput('empCompany' ,empCompany)"
                                class="btn btn-success cancel-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-user-check "></i>
                                <span class="px-1 "> حفظ </span>
                            </button>

                        </td>
                    </tr>
                    <tr class="row w-100">
                        <td class="col-3 py-1 text-center align-content-center">
                            <p class="my-0 ps-sm-5 fw-light ">الادارة : </p>
                        </td>
                        <td class="col-6 py-1">
                            <input formControlName="empManage" type="text" [value]=" oneEmplyee.manageNameAr " class="form-control ">
                        </td>
                        <td class=" col-3 py-1  align-content-center  px-0 d-flex">

                            <button #empManage (click)="editSingleRow('empManage' , empManage)"
                                class="btn btn-outline-dark update-Button fw-semibold fs-14">
                                <i class="fa-regular fa-pen-to-square px-1"></i>
                                تعديل
                            </button>
                            <button
                                class="btn btn-danger save-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-xmark "></i>
                                <span class="px-1 "> الغاء </span>
                            </button>
                            <button  (click)="closeEdittingInput('empManage' , empManage)"
                                class="btn btn-success cancel-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-user-check "></i>
                                <span class="px-1 "> حفظ </span>
                            </button>

                        </td>
                    </tr>
                    <tr class="row w-100">
                        <td class=" col-3 py-1 text-center align-content-center">
                            <p class="my-0 ps-sm-5 fw-light "> الفرع : </p>
                        </td>
                        <td class=" col-6 py-1">
                            <input formControlName="empBranch" type="text" [value]=" oneEmplyee.branchNameAr " class="form-control ">
                        </td>
                        <td class=" col-3 py-1  align-content-center  px-0 d-flex">

                            <button #empBranch (click)="editSingleRow('empBranch' , empBranch)"
                                class="btn btn-outline-dark update-Button fw-semibold fs-14">
                                <i class="fa-regular fa-pen-to-square px-1"></i>
                                تعديل
                            </button>
                            <button
                                class="btn btn-danger save-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-xmark "></i>
                                <span class="px-1 "> الغاء </span>
                            </button>
                            <button  (click)="closeEdittingInput('empBranch' , empBranch)"
                                class="btn btn-success cancel-Button update-Button  fw-semibold fs-14 mx-1 align-content-center">
                                <i class="fa-solid fa-user-check "></i>
                                <span class="px-1 "> حفظ </span>
                            </button>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>