<div class=" bg-secondary-subtle min-vh-100">
    <app-fake-nav></app-fake-nav>
    <app-profile-nav></app-profile-nav>
    <section class="w-100 vh-90 d-flex justify-content-center   overflow-hidden">
        <div class=" w-100 pb-5  ">
            <div class="row w-100 mx-auto m-0 mb-3 rounded-3    bg-nav d-flex justify-content-center">
                <!-- side bar -->
                <!-- <div class="col-3 ps-0 abo hide-on-mobile hide-on-tab ">

                    <div class="sideNav   rounded-start-2">
                        <div class="left ">
                            <div class="w-100">
                                <div class="navbar-brand w-50 mx-auto mb-3" routerLink="/home">
                                    <img src="./assets/images/compressed-images/wepb/saudia_formica_logo_white.png"
                                        alt="dashboard logo" class="w-100">
                                </div>

                                <div
                                    class="nav-link w-100 text-end px-3 pt-5 d-flex justify-content-between {{ 'direction' | translate}}">
                                    <div>
                                        <span class=" px-1">{{ 'page.تابعنا_علي_مواقع_التواصل_الاجتماعي' | translate
                                            }}</span>
                                    </div>

                                </div>

                                <ul class="list-unstyled sidbarUnits overflow-hidden my-3 border-top border-bottom">
                                    <li class="nav-item w-75 px-xl-5  px-md-3 my-4">
                                        <a class="nav-link d-flex justify-content-start  fs-3"
                                            href="https://www.facebook.com/SaudiFormicaSheets.Company" target="_blank">
                                            <i
                                                class="fa-brands fa-facebook fa-xl px-2 text-start align-middle"></i>/facebook
                                        </a>
                                    </li>
                                    <li class="nav-item w-75 px-xl-5  px-md-3 my-4 text-center   ">
                                        <a class="nav-link d-flex justify-content-start   fs-3"
                                            href="https://www.linkedin.com/company/saudi-formica-sheets-company/"
                                            target="_blank">
                                            <i
                                                class="fa-brands fa-linkedin fa-xl px-2 text-start align-middle"></i>/Linkedin
                                        </a>
                                    </li>
                                    <li class="nav-item w-75 px-xl-5  px-md-3 my-4 text-center   ">
                                        <a class="nav-link d-flex justify-content-start   fs-3"
                                            href="https://x.com/sfsco_sa?t=ofAIQXiOBnp4E70QmD8Ykw&s=09" target="_blank">
                                            <i
                                                class="fa-brands fa-square-x-twitter fa-xl px-2 text-start align-middle"></i>/X.com
                                        </a>
                                    </li>
                                    <li class="nav-item w-75 px-xl-5  px-md-3 my-4 text-center   ">
                                        <a class="nav-link d-flex justify-content-start   fs-3"
                                            href="https://www.instagram.com/sfsco.sa/" target="_blank">
                                            <i
                                                class="fa-brands fa-instagram fa-xl px-2 text-start align-middle"></i>/instagram
                                        </a>
                                    </li>

                                </ul>
                            </div>


                            <div class="text-center p-3 logoutBtn w-100 mb-2 {{ 'direction' | translate}}">
                                <span class="py-2 fs-4">
                                    {{"page.عن_الشركة" | translate}}
                                    <i class="fa-brands fa-slack px-1 "></i></span>
                            </div>


                        </div>


                    </div>
                </div> -->

                <!-- main content -->
                <div class="col-lg-10 col-xl-9 col-xxl-9 mx-auto py-4 bg-body-tertiary">
                    <div class="row  ">
                        <div class="col-lg-9 ">
                            <div class=" row d-flex justify-content-center align-items-center">

                                <!-- ==============  employee img   ====================-->
                                <div class="col-sm-7 col-md-6 col-lg-4 col-xl-4 col-xxl-3  position-relative emp-img">
                                    <div class="p-2 img-border border-layer">
                                        <div class="bg-white p-2 border-layer rounded-circle">
                                            <div class="img-container">
                                                <div *ngIf="empImg == null" class="skeleton-profile-circle-shimmer">
                                                </div>
                                                <img *ngIf="empImg != null" [src]="empImg" alt="employee img"
                                                    class="rounded-circle w-100 ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-white online-now p-1">
                                        <div class="bg-green w-100 h-100 rounded-circle"> </div>

                                    </div>
                                </div>

                                <!-- ==============  employee name and sub   ====================-->

                                <div class="  col-lg-7 col-xxl-8">

                                    <div
                                        class=" py-5 d-flex align-content-between flex-column emp-Data text-sm-center text-lg-start position-relative ">
                                        <p class="fs-2 p  emp-Name my-lg-0 my-xl-3 arabicFont">{{empName}}</p>
                                        <p class="text-muted my-lg-0 my-xl-1  ">{{'page.كود' | translate}} :
                                            {{empID}}</p>
                                        <p *ngIf="!isAdmin" class="text-muted  my-lg-0 my-xl-1  ">{{'page.موظف' |
                                            translate}} </p>
                                        <p *ngIf="isAdmin" class="text-muted  my-lg-0 my-xl-1  ">{{'page.مسؤول' |
                                            translate}} </p>
                                        <div
                                            class="mt-3 arabicList text-start position-absolute Edit-btn-mobile show-on-mobile-only">
                                            <button (click)="showImgModal()"
                                                class="btn btn-outline-dark px-5 py-3 mx-1 adminButton1"> {{
                                                'page.تعديل' | translate }} <i
                                                    class="fa-solid fa-pen-to-square "></i></button>
                                        </div>

                                    </div>
                                </div>





                            </div>
                        </div>








                        <div class="col-md-3   my-btns hide-on-tab">
                            <div class=" full-flex flex-column  h-100 ">
                                <button (click)="showImgModal()"
                                    class="btn btn-outline-dark w-100 py-3 my-1  option-btn">
                                    <i class="fa-solid fa-pen-to-square px-2"></i>{{ 'page.تعديل_الصورة' | translate }}
                                </button>

                                <button routerLink="/help" class="btn btn-dark w-100 py-3 my-1  option-btn"><i
                                        class="fa-solid fa-handshake px-2"></i>{{ 'page.تواصل_معنا' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="my-3  arabicList text-center show-on-tab-only">
                            <button (click)="showImgModal()" class="btn btn-outline-dark px-5 py-3 mx-1 adminButton1">{{
                                'page.تعديل_الصورة' | translate }} <i
                                    class="fa-solid fa-pen-to-square px-2"></i></button>
                            <button routerLink="/help" class="btn btn-dark px-5 py-3 mx-1 adminButton1">{{
                                'page.احتاج_المساعدة' | translate }}
                                <i class="fa-solid fa-handshake px-2"></i></button>
                        </div>



                        <!-- <div class="col-xxl-5 col-xlg-6 col-lg-7 mx-auto">
                            <div
                                class="border border-bottom-0 rounded-top-3 overflow-hidden d-flex justify-content-center text-muted">
                                <div (click)="moveDown()" class="border-end  icon-div   w-25 full-flex flex-column p-3"
                                    routerLink="identity" routerLinkActive="icon-active">
                                    <span><i class=" icon-img fa-solid   fa-id-card"></i></span>
                                    <span class="icon-text">{{ 'page.هوية' | translate }}</span>
                                </div>


                                <div (click)="moveDown()" class="border-end icon-div w-25 full-flex flex-column p-3 "
                                    routerLink="car" routerLinkActive="icon-active">
                                    <span><i class=" icon-img fa-solid   fa-car-side"></i></span>
                                    <span class="icon-text">{{ 'page.سيارة' | translate }}</span>
                                </div>

                                <div (click)="moveDown()" class="border-end  icon-div w-25 full-flex flex-column p-3 "
                                    routerLink="passport" routerLinkActive="icon-active">
                                    <span><i class=" icon-img fa-solid   fa-passport"></i></span>
                                    <span class="icon-text">{{ 'page.جواز_سفر' | translate }}</span>
                                </div>



                                <div (click)="moveDown()" class=" w-25  icon-div full-flex flex-column p-3"
                                    routerLink="contract" routerLinkActive="icon-active">
                                    <span><i class=" icon-img fa-solid   fa-file-signature"></i></span>
                                    <span class="icon-text">{{ 'page.عقد' | translate }}</span>
                                </div>



                            </div>

                        </div>
                        <div class="line"></div> -->




                        <!-- ===================== كل قسم من اقسام البيانات ===================== -->
                        <!-- <div class="col-12 bg-white rounded-3 rounded-top-0 sup-profile ">
                            <router-outlet></router-outlet>
                        </div> -->


                    </div>



                </div>
            </div>





            <!-- col-lg-10 col-xl-9 col-xxl-8 -->
            <!-- =============================     personal info       ====================================== -->
            <div
                class=" col-md-11 col-lg-10 col-xl-9  mx-auto row  mb-3 m-0  rounded-3  bg-white bg-nav d-flex justify-content-center">
                <div class="col-md-12  px-5  {{ 'direction' | translate}} ">
                    <p class="fs-3 pt-3 "> {{ 'page.البيانات_الشخصية' | translate }}</p>
                    <div class="   mx-auto">

                        <div class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted"> {{ 'page.المسمى_الوظيفي' | translate }}:</span>
                            <p class="px-3 my-0 fw-semibold">رئيس قطاع</p>
                        </div>

                        <div class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted"> {{ 'page.الادارة_التابع_لها' | translate }}
                                :</span>
                            <p class="px-3 my-0 fw-semibold"> الموارد البشرية </p>
                        </div>

                        <div class="border-bottom py-3">
                            <span class="small fw-semibold text-muted"> {{ 'page.رقم_الجوال' | translate }} :</span>
                            <p class="px-3 my-0 englishFont fw-semibold"> +96623434321 </p>
                        </div>

                        <div class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted"> {{ 'page.رقم_الجوال_الاضافي' | translate }}
                                :</span>
                            <p class="px-3 my-0 englishFont fw-semibold"> +96623434321 </p>
                        </div>

                        <div *ngIf="identityNumber" class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted"> {{ 'page.رقم_الهوية' | translate }} :</span>
                            <p class="px-3 my-0 englishFont  fw-semibold"> {{identityNumber}} </p>
                        </div>

                        <div *ngIf="identityExpire" class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted"> {{ 'page.تاريخ_انتهاء_الهوية' | translate }}
                                :</span>
                            <p class="px-3 my-0 englishFont fw-semibold"> {{identityExpire}}</p>
                        </div>

                        <div class=" py-3">
                            <span class="small  fw-semibold text-muted"> {{ 'page.فئة_الدم' | translate }} :</span>
                            <p class="px-3 my-0"> O+ </p>
                        </div>

                    </div>
                </div>
            </div>


            <!-- =============================     car info       ====================================== -->
            <div
                class=" col-md-11 col-lg-10 col-xl-9 mx-auto row mb-3 m-0  rounded-3  bg-white bg-nav d-flex justify-content-center">
                <div class="col-md-12  {{ 'direction' | translate}}  px-5">
                    <p class="fs-3 pt-3 "> {{ 'page.بيانات_السيارة' | translate }}</p>
                    <div *ngIf="carNumber" class="  mx-auto ">
                        <div class="border-bottom py-3">
                            <span class="small fw-semibold text-muted">{{ 'page.رقم_السيارة' | translate }} :</span>
                            <p class="px-3 my-0  fw-semibold"> {{carNumber}}</p>
                        </div>
                        <div class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted"> {{ 'page.تاريخ_نهاية_العقد' | translate }}
                                :</span>
                            <p class="px-3 my-0 englishFont fw-semibold">{{contractCarEnd}}</p>
                        </div>
                        <div class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted">{{ 'page.تاريخ_نهاية_الفحص' | translate }}
                                :</span>
                            <p class="px-3 my-0 englishFont fw-semibold">{{checkCarEnd}}</p>
                        </div>
                    </div>

                    <div *ngIf="!carNumber" class="  mx-auto ">
                        <div class=" py-3 text-center">
                            <!-- <span class="small fw-semibold text-muted"> لا توجد سيارة مسجلة </span> -->
                            <p class="px-3 my-0 py-4 fw-semibold"> {{ 'page.لاتوجد_سيارة' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- =============================     other info       ====================================== -->
            <div
                class=" col-md-11 col-lg-10 col-xl-9 mx-auto row mb-3 m-0  rounded-3  bg-white bg-nav d-flex justify-content-center">
                <div class="col-md-12  px-5   {{ 'direction' | translate}} ">
                    <p class="fs-3 pt-3 "> {{ 'page.بيانات_ادارية' | translate }}</p>
                    <div class="   mx-auto ">

                        <div class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted"> {{ 'page.تاريخ_بداية_العقد' | translate }} :
                            </span>
                            <p *ngIf="contractStart" class="px-3 my-0 englishFont fw-semibold">{{contractStart}}</p>
                            <p *ngIf="!contractStart" class="px-3 my-0  fw-medium"> {{ 'page.غير_متوفر' | translate }}
                            </p>
                        </div>

                        <div class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted">{{ 'page.تاريخ_نهاية_العقد' | translate }} :
                            </span>
                            <p *ngIf="contractEnd" class="px-3 my-0 englishFont fw-semibold">{{contractEnd}}</p>
                            <p *ngIf="!contractEnd" class="px-3 my-0  fw-medium">{{ 'page.غير_متوفر' | translate }} </p>

                        </div>

                        <div *ngIf="passportNumber" class="border-bottom py-3">
                            <span class="small  fw-semibold text-muted">{{ 'page.رقم_جواز_السفر' | translate }} :</span>
                            <p *ngIf="passportNumber" class="px-3 my-0 englishFont fw-semibold">{{passportNumber}}</p>
                            <p *ngIf="!passportNumber" class="px-3 my-0  fw-medium">{{ 'page.غير_متوفر' | translate }}
                            </p>
                        </div>

                        <div *ngIf="endPassport" class=" py-3">
                            <span class="small  fw-semibold text-muted">{{ 'page.تاريخ_انتهاء_الجواز' | translate }} :
                            </span>
                            <p *ngIf="endPassport" class="px-3 my-0 englishFont fw-semibold">{{endPassport}}</p>
                            <p *ngIf="!endPassport" class="px-3 my-0  fw-medium">{{ 'page.غير_متوفر' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </section>
</div>







<form [formGroup]="imgForm">
    <div #imgModal
        class="vh-100 full-flex bg-black-opacity position-fixed top-0 start-0 end-0 bottom-0 d-none overflow-hidden">
        <div class="w-50 img-Modal h-50 bg-white rounded-2 position-relative z-1 {{ 'direction' | translate }}">
            <p class=" text-center py-3 fs-3">{{ 'page.تحديث_صورة_الملف_الشخصي' | translate }}</p>
            <div class="w-75 mx-auto  min-h-60 full-flex flex-column">

                <label for="updateImg" class="py-3 ms-auto fs-5 ">
                    {{ 'page.قم_بأختيار_الصورة_الجديدة' | translate }}:</label>

                <input (change)="imgSize()" #imgInputEl formControlName="imgInput" class="form-control form-control-lg"
                    type="file" name="updateImg" id="updateImg">

                <div class="text-center" *ngIf="imgForm.get('imgInput')?.getError('type')">
                    <p class="text-danger py-3 small font-13-mobile">
                        صورة غير مدعومة , <br class="show-on-mobile-only">
                        يجب ان تكون الصورة بأمتداد ( png - jpg - jpeg )
                    </p>
                </div>


                <div class="text-center" *ngIf="imgSizeError">
                    <p class="text-danger py-3 small font-13-mobile">
                        حجم الصورة كبير للغاية , <br class="show-on-mobile-only">
                        يجب الا يتجاوز حجم الصورة 2 ميجا
                    </p>
                </div>


                <div *ngIf="imgForm.get('imgInput')?.getError('required') && imgForm.get('imgInput')?.touched">
                    <p class="text-danger  py-3 ">
                        يجب اختيار صورة . .
                    </p>
                </div>
                <button class="btn btn-primary px-5 py-2 my-3 d-block me-auto" (click)="sendImg()">
                    {{ 'page.حفظ' | translate }}
                </button>

                <!-- <h3 *ngIf="isLoading" class="text-center"> <i class="fa-solid fa-spinner fa-spin px-3"></i>جاري حفظ
                    البيانات . . </h3>
                <p *ngIf="isLoading" class="small">قد يستغرق الامر لحظات . . </p> -->

            </div>
            <span (click)="closeImgModal()">
                <i class="fa-solid fa-xmark fa-2x closeBtn"></i>
            </span>
        </div>
    </div>
</form>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p class=" w-100  loading-text"> Loading.. </p>
</ngx-spinner>