<section class=" overflow-hidden arabicList w-100 bg-white rounded-3 vh-90 shadow-lg py-5 p-sm-5 d-flex justify-content-center align-items-center">
    <div class="row">
        <div [ngClass]="{'slideIntop': pageOpenOne}" class="col-md-6 d-flex justify-content-center align-items-center CardOne">
            <div class="w-100  text-center">
                <h1 class="fw-bolder hero-text">مرحباً {{ name.split(' ',2).join(' ') }} </h1>
                <h1 class="suphero">لنقم بأدارة بعض المهام </h1>

                <div class="  mt-md-5">
                    <button class="btn btn-outline-dark px-5 py-3 mx-1 "> الطلبات </button>
                    <button class="btn btn-dark px-5 py-3 mx-1"> الطلبات </button>
                </div>

            </div>
        </div>
        <div [ngClass]="{'slideInleft': pageOpenOne}" class="col-md-6  CardTwo">
            <div class=" w-100">
                <img src="./assets/images/manage.jpg" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>