<section
    class="overflow-hidden admin-home-section arabicList w-100  rounded-3 vh-90 vh-100- shadow-lg py-5 p-sm-5 d-flex justify-content-center align-items-center">
    <div class="container">

        <div class="row g-3 col-xxl-9 col-xl-10 col-lg-11 col-md-12  englishList  mx-auto ">


            <div class="col-md-2 col-sm-3  the-Col">
                <div routerLink="/admin-defination" class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/2-docs.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> configuration </span>
            </div>


            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img ">
                        <img src="./assets/images/home-icons/1-contact.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/3-shop.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/4-attendance.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/17-payroll.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/18-apps.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/19-sales.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/2-docs.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/20-setting.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/3-shop.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>
            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/3-shop.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/4-attendance.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/17-payroll.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/18-apps.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/19-sales.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/2-docs.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/20-setting.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>

            <div class="col-md-2 col-sm-3  the-Col">
                <div class=" rounded-3  shadow  icon-box">
                    <div class="my-icon-img">
                        <img src="./assets/images/home-icons/3-shop.png" alt="">
                    </div>
                </div>
                <span class=" lead small py-2 "> icond </span>
            </div>






            <!-- <div [ngClass]="{'slideIntop': pageOpenOne}"
            class="col-md-6 vh-40-mobile d-flex justify-content-center align-items-center CardOne">
            <div class="w-100 text-center {{ 'direction' | translate }} ">
                <h1 class="fw-bolder  hero-text {{ 'حجم_الخط' | translate }} ">
                    {{ 'رسالة_ترحيب' | translate }}
                    <span class=" {{ 'lang-arabic' | translate }}">{{nameAr.split(' ', 2).join(' ') }}</span>
                    <p class=" capitalize-first-letter text-capitalize my-0 d-inline-block    {{ 'lang-english' | translate }}">{{nameEN.split(' ', 1).join(' ') }}</p>
                </h1>
                <h1 class="suphero">{{ 'رسالة_ادارة_المهام' | translate }}</h1>

                <div class="mt-3 mt-md-5 arabicList">
                    <button routerLink="/admin-loan" class="btn btn-outline-dark px-5 py-3 mx-1 adminButton1">{{
                        'زر_طلبات_السلفة' | translate }}</button>
                    <button routerLink="/admin-vacation" class="btn btn-dark px-5 py-3 mx-1 adminButton1">{{
                        'زر_طلبات_الاجازات' | translate }}</button>
                </div>
            </div>
        </div>
        <div [ngClass]="{'slideInleft': pageOpenOne}" class="col-md-6 CardTwo">
            <div class="w-center">bg-warning="bg-primary">
                    <img src="./assets/images/compressed-images/wepb/manage.webp" alt="" >
                </div>
            </div>
        </div> -->
        </div>
    </div>

</section>