<section
    class="overflow-hidden arabicList w-100 bg-white rounded-3 vh-90 vh-100-on-mobile shadow-lg py-5 p-sm-5 d-flex justify-content-center align-items-center">
    <div class="row">
        <div [ngClass]="{'slideIntop': pageOpenOne}"
            class="col-md-6 vh-40-mobile d-flex justify-content-center align-items-center CardOne">
            <div class="w-100 text-center {{ 'direction' | translate }} ">
                <h1 class="fw-bolder  hero-text {{ 'حجم_الخط' | translate }} ">
                    {{ 'رسالة_ترحيب' | translate }}
                    <span class=" {{ 'lang-arabic' | translate }}">{{nameAr.split(' ', 2).join(' ') }}</span>
                    <p class=" capitalize-first-letter text-capitalize my-0 d-inline-block    {{ 'lang-english' | translate }}">{{nameEN.split(' ', 1).join(' ') }}</p>
                </h1>
                <h1 class="suphero">{{ 'رسالة_ادارة_المهام' | translate }}</h1>

                <div class="mt-3 mt-md-5 arabicList">
                    <button routerLink="/admin-loan" class="btn btn-outline-dark px-5 py-3 mx-1 adminButton1">{{
                        'زر_طلبات_السلفة' | translate }}</button>
                    <button routerLink="/admin-vacation" class="btn btn-dark px-5 py-3 mx-1 adminButton1">{{
                        'زر_طلبات_الاجازات' | translate }}</button>
                </div>
            </div>
        </div>
        <div [ngClass]="{'slideInleft': pageOpenOne}" class="col-md-6 CardTwo">
            <div class="w-100 text-center">
                <img src="./assets/images/compressed-images/wepb/manage.webp" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>