.CardOne {
    position: relative;
    left: 150px;
    transition: left 1s, opacity 1s;
    opacity: 0;
}

.CardTwo {
    position: relative;
    right: 150px;
    transition: right 1s, opacity 1s;
    opacity: 0;
}

.slideInleft {
    right: 0px !important;
    opacity: 1;
}

.slideIntop {
    left: 0px !important;
    opacity: 1;
}



@media screen and (max-width:576px) {
    .adminButton1 {
        padding: 10px !important;
        width: 120px;
        font-size: 15px;
    }

    .vh-40-mobile {
        min-height: 40vh;
    }

    .font-30-mobile {
        font-size: 30px !important;
    }


    .suphero {
        font-size: 25px;

    }



}