<section *ngIf="requestSent==false" class="my-5 CardOne vh-90" [ngClass]="{'slideIn': pageOpenOne}">
    <form [formGroup]="vacationForm" (ngSubmit)="sendRequest()">
        <div class="vacationDetails arabicList bg-white rounded-4 w-100 overflow-hidden shadow-lg ">
            <div class="row">
                <div class="col-md-7 col-lg-6">
                    <div
                        class="d-flex justify-content-center align-items-center flex-column p-5 requestDetails {{ 'direction' | translate }}">
                        <h2 class="fw-bold my-3">{{ 'vacation.ادخل_بيانات_الطلب' | translate }}</h2>
                        <div class="w-100 mt-5">
                            <div class="w-100 p-2">
                                <label for="empName">{{ 'vacation.اسم_الموظف' | translate }}:</label>
                                <input type="text" id="empName" class="form-control {{ 'lang-arabic' | translate }}"
                                    [value]="nameAr" disabled>
                                <input type="text" id="empName" class="form-control {{ 'lang-english' | translate }} "
                                    [value]="nameEN" disabled>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-50 p-2">
                                    <label for="empId">{{ 'vacation.رقم_الموظف' | translate }}:</label>
                                    <input type="text" id="empId" class="form-control w-100" [value]="empId" disabled>
                                </div>
                                <div class="w-50 p-2">
                                    <label for="empCredit">{{ 'vacation.الايام_المستحقة' | translate }}:</label>
                                    <input type="text" id="empCredit" class="form-control w-100" [value]="availableDays"
                                        disabled>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-50 p-2">
                                    <label for="empName">{{ 'vacation.نوع_الاجازة' | translate }}:</label>
                                    <select formControlName="vacationType" name="" id="" class="form-select">
                                        <option disabled selected value="null">{{ 'vacation.اختر_نوع_الاجازة' |
                                            translate }}</option>
                                        <option value="1">{{ 'vacation.اجازة_مرضية' | translate }}</option>
                                        <option value="2">{{ 'vacation.اجازة_سنوية' | translate }}</option>
                                        <option value="3">{{ 'vacation.اجازة_طارئة' | translate }}</option>
                                        <option value="4">{{ 'vacation.اجازة_عمرة' | translate }}</option>
                                        <option value="5">{{ 'vacation.اجازة_حج' | translate }}</option>
                                    </select>
                                </div>
                                <div class="w-50 p-2">
                                    <label for="empId">{{ 'vacation.مدة_الاجازة' | translate }}:</label>
                                    <input formControlName="numberOfDays" type="number" id="empId"
                                        class="form-control w-100"
                                        placeholder="{{ 'vacation.ادخل_مدة_الاجازة' | translate }}">
                                </div>
                            </div>
                            <div class="errorsMsg d-flex">
                                <p class="text-danger small errorInput px-3 w-50"
                                    *ngIf="this.vacationForm.get('vacationType')?.value == null && (this.vacationForm.get('startDate')?.touched)">
                                    {{ 'vacation.اختر_نوع_الاجازة_خطأ' | translate }}
                                </p>
                                <p class="text-danger small errorInput px-3 w-50"
                                    *ngIf="this.vacationForm.get('numberOfDays')?.getError('required') && this.vacationForm.get('numberOfDays')?.touched">
                                    {{ 'vacation.ادخل_مدة_الاجازة' | translate }}
                                </p>
                            </div>
                            <p class="text-danger small errorInput px-3"
                                [ngClass]="{'d-none' : this.vacationForm.get('numberOfDays')?.value <= this.availableDays}">
                                {{ 'vacation.مدة_الاجازة_اكبر' | translate }}
                            </p>

                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-100 p-2">
                                    <label for="startingDate">{{ 'vacation.تاريخ_بداية_الاجازة' | translate }}:</label>
                                    <input formControlName="startDate" type="date" id="startingDate"
                                        class="form-control w-100" [min]="todayDate"
                                        placeholder="{{ 'vacation.تاريخ_بداية_الاجازة' | translate }}">
                                </div>
                            </div>
                            <p class="text-danger small errorInput px-3"
                                *ngIf="this.vacationForm.get('startDate')?.getError('required') && this.vacationForm.get('startDate')?.touched">
                                {{ 'vacation.ادخل_تاريخ_بدء_الاجازة' | translate }}
                            </p>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-100 p-2">
                                    <label for="Details">{{ 'vacation.تفاصيل_اخري' | translate }}:</label>
                                    <textarea formControlName="Details" name="" id="Details" rows="3"
                                        placeholder="{{ 'vacation.هل_ترغب_في_اطلاعنا' | translate }}"
                                        class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-100 p-2">
                                    <label for="myFile">{{ 'vacation.ارفق_مستند' | translate }}:</label>
                                    <input #fileInput formControlName="myFile" type="file" id="myFile"
                                        class="form-control w-100">
                                </div>
                            </div>
                        </div>


                        <div class="mt-5">
                            <button class="btn btn-outline-dark custombutn px-5 py-2 rounded-5">
                                {{ 'vacation.ارسال_الطلب' | translate }} <i class="fa-solid fa-check px-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-6 hide-on-mobile">
                    <div class="d-flex justify-content-center align-items-center vectorForm h-100">
                        <img src="./assets/images/compressed-images/wepb/vacancy.webp" alt="طلب اجازة"
                            class="w-75 vectorImg">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<!-- succses  modal -->
<section *ngIf="requestSent" class="SuccessModal vh-80 d-flex justify-content-center align-items-center ">
    <div class="bg-white w-50 w-100-mobile mx-auto rounded-3 text-center shadow-lg">
        <div class="p-5">
            <div class="d-flex justify-content-center align-items-center {{ 'direction' | translate }}">
                <p class="doneMsgMain fs-3  my-0">{{'leave.تم_ارسال_الطلب_بنجاح' | translate }}</p>
                <i class="fa-solid fa-circle-check fa-lg px-2" style="color: #11645f;"></i>
            </div>

            <p class="doneMsgSub fs-5 fw-light ">{{ 'leave.تفقد_حالة_الطلب_من_قسم_الطلبات' | translate }} <span
                    class="fw-bolder"> {{ 'leave.الطلبات' | translate }} </span> </p>
            <div class="w-50-mobile d-inline-block w-25">
                <button routerLink="/allOrders/vacation"
                    class="btn btn-dark p-3 px-4 mx-1 btn-on-mobile w-100 rounded-end-0 ">{{ 'leave.الطلبات' | translate
                    }}</button>
            </div>
            <div class="w-50-mobile d-inline-block w-25">
                <button routerLink="/home"
                    class="btn btn-outline-dark p-3 px-4 mx-1 btn-on-mobile w-100 rounded-start-0">{{ 'leave.الرئيسية' |
                    translate }}</button>
            </div>
        </div>
    </div>
</section>