<!-- <section class="w-100 vh-90 bg-warning full-flex">
    <div class="bg-white w-100 vh-80 ">
        <h1 class="">heloo work task</h1>
    </div>
</section> -->
<section class="my-5 CardOne" [ngClass]="{'slideIn': true}">
    <form [formGroup]="taskForm" (submit)="requestTask()">
        <div class="loanDetails arabicList bg-white rounded-4 w-100 overflow-hidden shadow-lg">
            <div class="row">
                <div class="col-md-7 col-lg-6">
                    <div
                        class="d-flex justify-content-center align-items-center flex-column p-5 requestDetails {{ 'direction' | translate }}">
                        <h2 class="fw-bolder my-3">تكليف مهمة عمل </h2>


                        <div *ngIf="page1" class="w-100 mt-5">
                            <div class="w-100 p-2">
                                <label for="empName">{{ 'loan.اسم_الموظف' | translate }}:</label>
                                <input type="text" id="empName" class="form-control {{ 'lang-arabic' | translate }}"
                                    [value]="nameAr" disabled>
                                <input type="text" id="empName" class="form-control {{ 'lang-english' | translate }} "
                                    [value]="nameEN" disabled>
                            </div>

                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-50 p-2">
                                    <label for="empId">{{ 'loan.رقم_الموظف' | translate }}:</label>
                                    <input type="text" id="empId" class="form-control w-100" [value]="empId" disabled>
                                </div>
                                <div class="w-50 p-2">
                                    <label for="empCredit">تاريخ اليوم :</label>
                                    <input type="date" id="empCredit" class="form-control w-100 text-center"
                                        [value]="todayDate" disabled>
                                </div>
                            </div>

                            <!-- directed to inpit -->
                            <div class="w-100 p-2">
                                <label for="directionName">جهة مهمة العمل :</label>
                                <input type="text" formControlName="directionName" id="directionName"
                                    class="form-control" placeholder="اسم جهة مهمة العمل">

                                <!-- directed to error -->
                                <p *ngIf="directionNameInput?.errors && directionNameInput?.touched"
                                    class="my-0 pt-2 small text-danger text-center"> يجب ادخال اسم
                                    الجهة المقصودة </p>
                            </div>

                            <!-- type + duration inputs -->
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-50 p-2">
                                    <label for="taskType"> نوع التكليف : </label>
                                    <select formControlName="taskType" name="taskType" id="taskType"
                                        class="form-control form-select">

                                        <option value="null" disabled selected> اختر نوع التكليف </option>
                                        <option value="0">داخلي </option>
                                        <option value="1">خارجي</option>
                                    </select>

                                </div>
                                <div class="w-50 p-2">
                                    <label for="taskDuration"> المدة بالأيام: </label>
                                    <input formControlName="taskDuration" type="number" id="taskDuration"
                                        class="form-control" placeholder="المدة المطلوبة للمهمة">
                                </div>
                            </div>

                            <!-- type + duration error -->
                            <div class="w-100 text-center full-flex">
                                <p *ngIf="taskTypeInput?.errors && taskTypeInput?.touched"
                                    class="my-0 pt-1 small text-danger w-50">
                                    يجب اختيار نوع المهمة </p>
                                <p *ngIf="taskDurationInput?.errors && taskDurationInput?.touched"
                                    class="my-0 pt-1 small text-danger w-50">
                                    يجب ادخال المدة
                                </p>
                            </div>

                            <!-- date inputs -->
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="w-50 p-2">
                                    <label for="startingDate">اعتباراً من :</label>
                                    <input #startDate type="date" id="startingDate" formControlName="startingDate"
                                        class="form-control w-100" placeholder="{{ 'loan.تاريخ_البدء' | translate }}"
                                        [min]="todayDate">
                                </div>
                                <div class="w-50 p-2">
                                    <label for="EndingDate"> حتى تاريخ :</label>
                                    <input [min]="taskForm.get('startingDate')?.value" formControlName="EndingDate"
                                        type="date" id="EndingDate" class="form-control w-100"
                                        placeholder="تاريخ الانتهاء">
                                </div>
                            </div>

                            <!-- date errors -->
                            <div class="w-100 text-center full-flex">
                                <p *ngIf="startingDateInput?.errors && startingDateInput?.touched"
                                    class="my-0 pt-1 small text-danger w-50">
                                    يجب ادخال تاريخ البدء</p>
                                <p *ngIf="EndingDateInput?.errors && EndingDateInput?.touched"
                                    class="my-0 pt-1 small text-danger w-50">
                                    يجب ادخال تاريخ الانتهاء
                                </p>
                            </div>
                        </div>


                        <div *ngIf="page2" class="w-100 mt-5">
                            <div class="w-100 p-2">
                                <label for="taskDetails">بيان مهمة العمل:</label>
                                <textarea formControlName="taskDetails" name="taskDetails" id="taskDetails"
                                    class="form-text form-control taskDetails" rows="3"
                                    placeholder="ادخل تفاصيل المهمة . . "></textarea>
                                <p *ngIf="taskDetailsInput?.errors && taskDetailsInput?.touched"
                                    class="my-0 pt-2 small text-danger text-center">
                                    يجب ادخال تفاصيل المهمة
                                </p>
                            </div>
                            <div class="w-100 p-2">
                                <label for="TaskLoan">سلفة مصاريف بمبلغ :</label>
                                <input formControlName="TaskLoan" type="text" id="TaskLoan" class="form-control w-100"
                                    placeholder="مبلغ السلفة">
                            </div>

                            <div class="w-100 p-2">
                                <label for="tickit">تذكرة سفر خط السير :</label>
                                <input formControlName="tickit" type="text" id="tickit" class="form-control"
                                    placeholder=" تذكرة السفر الخاصة بالمهمة ">

                            </div>

                            <!-- defualt visa -->
                            <div class="d-flex justify-content-center align-items-center ">
                                <div class="w-50 p-2">
                                    <label for="visa1"> تأشيرة 1 :</label>
                                    <input formControlName="visa1" type="text" id="visa1" class="form-control w-100"
                                        placeholder="التأشيرة 1">
                                </div>
                                <div class="w-50 p-2 position-relative">
                                    <label for="visa2"> تأشيرة 2 :</label>
                                    <input formControlName="visa2" type="text" id="visa2" class="form-control w-100"
                                        placeholder="التأشيرة 2 (ان وجدت)">

                                    <span *ngIf="!moreVisa" (click)="addMoreVisa()" class="plus-visa-icon">
                                        <i class="fa-regular fa-square-plus fa-lg"></i>
                                    </span>
                                </div>
                            </div>

                            <!-- additional visa -->
                            <div *ngIf="moreVisa" class="d-flex justify-content-center align-items-center ">
                                <div class="w-50 p-2">
                                    <label for="visa3"> تأشيرة 3 :</label>
                                    <input formControlName="visa3" type="text" id="visa3" class="form-control w-100"
                                        placeholder="التأشيرة 3 (ان وجدت)">
                                </div>
                                <div class="w-50 p-2 position-relative">
                                    <label for="visa4"> تأشيرة 4 :</label>
                                    <input formControlName="visa4" type="text" id="visa4" class="form-control w-100"
                                        placeholder="التأشيرة 4 (ان وجدت)">

                                    <span (click)="addMoreVisa()" class="remove-visa-icon">
                                        <i class="fa-regular fa-trash-can fa-lg"></i>
                                    </span>
                                </div>
                            </div>

                        </div>


                        <p class="englishList englishFont fw-light mt-2 text-center small">
                            <span *ngIf="page1"> page 1 of 2 </span>
                            <span *ngIf="page2"> page 2 of 2 </span>
                        </p>

                        <!-- buutons -->
                        <div *ngIf="page1" class="mt-2 ms-auto px-3">
                            <button (click)="nextPage()" class="btn btn-outline-dark next-Button px-5 py-2 rounded-5 ">

                                <i class="fa-solid fa-circle-chevron-right fa-xl px-2 position-absolute end-0"></i>
                                <span class="pe-3">
                                    التالي
                                </span>
                            </button>
                        </div>

                        <div *ngIf="page2" class="mt-2 ms-auto ">
                            <button type="submit" class="btn  submit-Button px-5 py-2 ms-auto rounded-5 ">
                                <span *ngIf="!loadButton">
                                    <i class="fa-solid fa-circle-check fa-xl px-2 position-absolute start-0"></i>
                                </span>
                                <span *ngIf="loadButton">
                                    <i class="fa-solid fa-spinner fa-spin fa-xl px-2 position-absolute start-0"></i>
                                </span>

                                <span class="ps-3">
                                    ارسال
                                </span>
                            </button>

                            <button (click)="prevPage()"
                                class="btn btn-outline-dark me-3 berv-Button px-5 py-2 rounded-5 ">

                                <i class="fa-solid fa-circle-chevron-left fa-xl px-2 position-absolute start-0"></i>

                                <span class="ps-3">
                                    السابق
                                </span>
                            </button>



                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-6 hide-on-mobile">
                    <div class="d-flex justify-content-center align-items-center vectorForm h-100">
                        <img src="./assets/images/compressed-images/wepb/task.webp"
                            alt="{{ 'loan.ادخل_بيانات_الطلب' | translate }}" class="w-75 vectorImg">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>